---
import TableOfContents from './TableOfContents';
import ContributeMenu from './ContributeMenu.astro';
import CommunityMenu from './CommunityMenu.astro';
import { useTranslations } from '../../i18n/util';
import Card from '../Card.astro';


const t = useTranslations(Astro);

const { content, githubEditUrl } = Astro.props;
//const headings = content.astro?.headings;
const headings = Astro.props.headings;
---

<nav class="" aria-label={t('rightSidebar.a11yTitle')}>
	<div class="static">
	{
		headings && (
			<TableOfContents
				client:media="(min-width: 50em)"
				headings={headings}
				labels={{ onThisPage: t('rightSidebar.onThisPage'), overview: t('rightSidebar.overview') }}
				isMobile={false}
			/>
		)
	}
	<div class="com-contribute m-3 ml-0	pt-5">
	<ContributeMenu i18nReady={content.i18nReady} editHref={githubEditUrl} />
	<CommunityMenu />
	</div>
</div>
</nav>

<style>
	nav {
		padding: 0 0 var(--doc-padding-block) 0;
		overflow: auto;
		font-size: var(--theme-text-sm);
		position: fixed;
		height: 90vh;
		margin-top:calc( var(--theme-navbar-height) + 3.5rem);

	}

	.tippy-box[data-theme='default'] {
		background-color: var(--content-bg);
		color: var(--theme-readable-grey);
	}

	.com-contribute{
		border-top: var(--theme-border);
	}
</style>
