---
import TableOfContents from './TableOfContents';
import { useTranslations } from '../../i18n/util';

const t = useTranslations(Astro);
const { content, githubEditUrl } = Astro.props;
const headings = Astro.props.headings;
const editHref = githubEditUrl
---

<nav class="sticky overflow-auto text-sm" aria-label={t('rightSidebar.a11yTitle')}>
	<div class="static">
	{
		headings && (
			<TableOfContents
				client:media="(min-width: 50em)"
				headings={headings}
				labels={{ onThisPage: t('rightSidebar.onThisPage') || 'On This Page', overview: t('rightSidebar.overview') || 'Overview' }}
				isMobile={false}
			/>
		)
	}
			
	<div class="space-y-3 border-t border-neutral-400/20">	

		<div class="my-4 com-contribute w-full">
			<a href="https://openreplay.com/releases" target="_blank" class="text-readable-grey text-sm">Change Log &nbsp; &nearr;</a>
		</div>
		
		<div class="grid grid-cols-12 border-t border-neutral-400/20 pt-5">
			<div class="col-span-3">
				<a class="edit-on-github text-readable-grey" title="Contirbute to Documentation" href={editHref} target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-pen-line"><path d="m18 5-2.414-2.414A2 2 0 0 0 14.172 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2"/><path d="M21.378 12.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/><path d="M8 18h1"/></svg>
				</a>
			</div>
			<div class="col-span-3">
				<a href="https://slack.openreplay.com" target="_blank"  title="Join Slack Community" data-tooltip-placement="top" class="text-readable-grey"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-slack" viewBox="0 0 16 16"> <path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"/> </svg> </a>
			</div>
			<div class="col-span-3">
				<a href="https://blog.openreplay.com" target="_blank" title="Read Our Blog" data-tooltip-placement="top" class="text-readable-grey"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scroll"><path d="M19 17V5a2 2 0 0 0-2-2H4"/><path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"/></svg> </a>	
			</div>		
		</div>	
		<div class="my-4 com-contribute w-full border-t border-neutral-400/20 pt-5">
			<p class="mb-2 text-neutral-500/80 text-xs">Support us by starring our repo!</p>
			<a href="https://github.com/openreplay/openreplay/" target="blank"><img alt="GitHub Repo stars" class="scale-110 p-1 border-0 rounded-none" src="https://img.shields.io/github/stars/openreplay/openreplay"></a>
		</div>
	</div>
</div>
</nav>
