* {
	box-sizing: border-box;
	margin: 0;
}

/* Global focus outline reset */
*:focus:not(:focus-visible) {
	outline: none;
}

/* Firefox */
* {
	scrollbar-color: rgba(151,151,151,.2) transparent;
}

/* Webkit */
/* Make scrollbars transparent except for main page scrollbar.
::-webkit-scrollbar,
::-webkit-scrollbar-track {
	background-color: transparent;
}*/

/* body::-webkit-scrollbar,
body::-webkit-scrollbar-track {
	background: transparent;
} */

::-webkit-scrollbar-thumb {
	background-color: rgba(151,151,151,.2);
	border: 4px solid transparent;
	background-clip: content-box;
	border-radius: var(--theme-border-radius);
	visibility: visible;
}

::-webkit-scrollbar-thumb:active{
	visibility: visible;
}



@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

/*
	Ensure that the auto-hiding/showing address bar on iOS Safari
	always has a background color matching our theme.
*/
html {
	background: var(--theme-body-bg);
}

/*
	Use a pseudo-element to add a gradient background that covers the entire viewport.
	Using a regular fixed background does not work properly on mobile browsers like iOS Safari.
*/


body {
	color: var(--theme-text);
	min-height: 100vh;
	font-family: var(--font-body);
	font-size: 16px;
	line-height: 1.5;
}

nav ul {
	list-style: none;
	padding: 0;
}

img {
	border-radius: var(--theme-border-radius);
	border: var(--theme-border);
}

.content > section > * + *,
.content > section > blockquote > * + *,
.content > section > :is(ul, ol) > li > * + *,
.content details > * + *,
.content * > astro-slot > * + * {
	margin-top: 1.25rem;
}

.content > section > :is(ul, ol) > li > * + * {
	margin-bottom: 1.25rem;
}

.content > section > :is(ul, ol) > li,
.content > section > :is(ul, ol) > li > * + *,
.content > section > :is(ul, ol) > li > :is(ul, ol) > li,
.content > section > :is(ul, ol) > li > :is(ul, ol) > li > * + * {
	margin-top: 0.5rem;
}

.content > section > :first-child {
	margin-top: 0;
}

.content > section > :is(ul, ol),
.content > section > :is(ul, ol) :is(ul, ol) {
	padding-inline-start: 1.5em;
}

.bg-theme-contrast{
	background-color: var(--theme-contrast);
}

.bg-theme-default{
	background-color: var(--content-bg);
}


/* Typography */
:is(h1, h2, h3, h4, h5, h6),
.content > section > .heading-wrapper {
	margin-bottom: 1rem;
	font-weight: 500;
	line-height: 1.3;
}

:is(h1, h2, h3, h4, h5, h6) + *,
.content > section > .heading-wrapper + * {
	margin-top: 0;
}

:is(h2):not(:first-child),
.heading-wrapper:not(:first-child):is(.level-h2) {
	margin-top: 2.5rem;
}

:is(h3, h4):not(:first-child),
.heading-wrapper:not(:first-child):is(.level-h3, .level-h4) {
	margin-top: 3rem;
}

:is(h5, h6):not(:first-child),
.heading-wrapper:not(:first-child):is(.level-h5, .level-h6) {
	margin-top: 2rem;
}

:is(h1, h2, h3, h4, h5, h6, .heading-wrapper)
	+ :is(h1, h2, h3, h4, h5, h6, .heading-wrapper):not(:first-child) {
	margin-top: 0;
}

:is(h1, h2, h3, h4, h5) code {
	--border-radius: var(--theme-border-radius);
	--padding-block: 0.1rem;
	--padding-inline: 0.4rem;
	font-weight: 400;
}

h1 {
	font-size: 2.5rem; /* 40px */
	font-weight: 600;
}

.com-contribute{
	left: .5rem;
	border-top: var(--theme-border-color);
}

.com-contribute ul, .com-contribute > div, .com-contribute li {
	display: inline-block;
	width: fit-content;
}

.DocSearch-Commands-Key, .DocSearch-Modal{
	box-shadow:none !important;
	background:var(--theme-body-bg) !important;
	border-color: transparent !important;
}

.DocSearch-Form, .DocSearch-Modal {
	border: var(--theme-border);
}


@media (min-width: 37.75em) {
	h1 {
		font-size: 2rem /* 48px */
	}
}

h2 {
	font-size: 1.5rem; /* 30px */
}

h3 {
	font-size: 1.3rem; /* 24px */
}

h4 {
	font-size: 1.15rem; /* 20px */
}

h5 {
	font-size: 1rem; /* 16px */
}

.heading-wrapper {
	--icon-size-x: 2rem;
	--icon-size-y: 1.5rem;
	margin-inline-end: var(--icon-size-x);
}

.heading-wrapper:not(:first-child) {
	margin-block: 0;
}

.heading-wrapper > * {
	display: inline;
	margin-bottom: 0;
}

.heading-wrapper > .anchor-link {
	position: relative;
	display: inline-flex;
	margin-inline-end: calc(-1 * var(--icon-size-x));
	width: var(--icon-size-x);
	height: var(--icon-size-y);
	text-decoration: none;
	justify-content: center;
	vertical-align: baseline;
}

/* Float anchor links to the left of headings on larger screens. */
@media (min-width: 50em) {
	.heading-wrapper {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: baseline;
		margin-inline-start: calc(-1 * var(--icon-size-x));
	}

	.heading-wrapper > .anchor-link {
		margin-inline-end: 0;
	}
}

.heading-wrapper > .anchor-link {
	opacity: 0.5;
	inset-inline-start: .5rem;
}

@media (hover: hover) {
	.heading-wrapper > .anchor-link {
		opacity: 0;
	}
}

.heading-wrapper:hover > .anchor-link,
.anchor-link:focus {
	opacity: 1;
}

p,
.content ul {
	line-height: 1.65;
}

p,
.content ul {
	color: var(--theme-contrast);
}

small,
.text_small {
	font-size: 0.833rem;
}

a {
	color: var(--theme-accent-full);
	text-underline-offset: 0.08em;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
}

a :hover{
	text-decoration: underline;
}

.theme-dark a{
	color: var(--theme-accent-full);
}

article > section :is(ul, ol) > * + * {
	margin-top: 0.25rem;
}

article > section nav :is(ul, ol) > * + * {
	margin-top: inherit;
}

article > section li > :is(p, pre, .code-snippet, blockquote):not(:first-child) {
	margin-top: 1rem;
}

article > section nav :is(ul, ol) {
	padding-inline-start: inherit;
}

article > section nav {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

article > section ::marker {
	font-weight: 600;

}

article > section iframe {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

a > code {
	position: relative;
	color: var(--theme-text-accent);
	text-underline-offset: var(--padding-block);
}

a:hover,
a:focus {
	text-decoration: underline;
}

a:focus {
	outline: 2px solid currentColor;
	outline-offset: 0.25em;
}

strong {
	font-weight: 600;
	color: inherit;
}

/* Supporting Content */
code {
	--border-radius: var(--theme-border-radius);
	--padding-block: 0.05rem;
	--padding-inline: 0.3rem;
	font-family: var(--font-mono);
	font-size: 0.85em;
	color: var(--theme-code-inline-text);
	padding: var(--padding-block) var(--padding-inline);
	margin: calc(var(--padding-block) * -1) 0;
	word-break: break-word;
	border-radius: var(--theme-border-radius);
	
}

ol li{
	position: relative;
	padding-left: 0.65rem;
}

ol li:before { 
	content: '';
    background: var(--theme-accent-opacity);
    width: 25px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: -23px;
    border-radius: 20px;
    top: 3px;
}

ol li::marker{
	font-size: 13px;
}

code, tr, td{
	font-size: var(--theme-text-sm);
}

td{
	vertical-align: text-top;
}

.astro-code code{
	background: transparent;
}

/*RTL Fix Code dir for inline code*/
[dir='rtl'] code {
	unicode-bidi: plaintext;
}

/*RTL Fix codeBlock base in Shiki output*/
[dir='rtl'] span.line {
	direction: ltr;
	unicode-bidi: isolate;
}

/*RTL Fix Arrows*/
[dir='rtl'] .toc-mobile-container svg {
	transform: rotateY(180deg);
}


table{
	margin-left: calc(var(--padding-inline) * -1);
	margin-right: calc(var(--padding-inline) * -1);
}

table,
pre {
	position: relative;
	--padding-block: 1rem;
	--padding-inline: 1rem;
	padding: var(--padding-block) var(--padding-inline);
	padding-inline-end: var(--padding-inline);
	font-family: var(--font-mono);
	font-size: var(--theme-text-base);
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-text-size-adjust: none;
}

pre{
	margin-top: .5rem;
	border-radius: var(--theme-border-radius);
}



.content kbd {
	font-family: var(--font-body);
	font-size: 0.9375rem;
	border-radius: var(--theme-border-radius);
	padding: 0.125rem 0.375rem;
	border: var(--theme-border);
	box-shadow: 0 3px var(--theme-shade-subtle);
	background-color: var(--theme-bg-offset);
	white-space: nowrap;
}

.theme-dark .content kbd {
	border-color: var(--theme-divider);
	background-color: var(--theme-body-bg);
}

thead {
	font-family: var(--font-body);
	border-bottom: thin solid var(--theme-border-color);
}

table {
	width: 100%;
	padding: var(--padding-block) 0;
	margin: 0;
	border-collapse: collapse;
	line-height: 1.8;
}

.theme-border{
	border: var(--theme-border);
}

/* Zebra striping */
tbody tr:nth-of-type(odd) {
	background: var(--theme-body-bg);
}
th {
	font-weight: 600;
}
td,
th {
	padding: 6px;
	text-align: start;
}

p code, li code, blockquote code, pre{
	background-color: var(--theme-body-bg);
	border: var(--theme-border);
}

blockquote, aside.note {
	margin: 2rem 0 2rem 0;
	padding: 1.25em 1.5rem;
	background-color: var(--theme-accent-opacity);
	border-radius: 0 var(--theme-border-radius) var(--theme-border-radius) 0;
	line-height: 1.7;
	/* Indicates the blockquote boundaries for forced colors users, transparent is changed to a solid color */
	outline: 1px solid transparent;
	border-radius: var(--theme-border-radius);
	display: flex;
	gap: 1rem;
}

blockquote:before, aside.note:before {
    content: '\270E';
    width: 20px;
    display: inline-block;
    border-radius: 4px;
    background: var(--theme-accent-opacity);
    font-size: 18px;
    text-align: center;
    padding: 0.4rem 1rem;
    color: var(--theme-accent-full);
    height: 30px;
}

blockquote p, aside.note p{
	display: inline-block;
}

img,
video {
	max-width: 100%;
}

.card{
	background-color: var(--content-bg);
	border: var(--theme-border);
	border-radius: var(--theme-border-radius);
	padding: 1.5rem;
}

a.card:hover{
	background-color: var(--theme-accent-opacity);
}

.page-index a.card{
	color: inherit;
	text-decoration: inherit;
	font-weight: 400;
}

.page-index .card a.hover-bg{
	padding: 0.5rem;
    border-radius: var(--theme-border-radius);
	text-decoration: none;
	margin-left: -0.2rem;
	font-weight: normal;
}

.page-index .card a.hover-bg:hover{
    background: var(--theme-accent-opacity);
}

.page-index a.hover-bg *:hover{
	text-decoration: none !important;
}

.content video {
	box-shadow: 0 0 var(--theme-glow-blur) var(--theme-glow-diffuse);
}

.landing-hero{
	background: linear-gradient(180deg, #92e8de30 0%, #6373d32e 114.39%);
	border-radius: var(--theme-border-radius);
	margin-top: 0 !important;
}

.content details {
	--details-padding-block: 0.25rem;
	--details-padding-inline: 1rem;
	--details-corners: 0.5rem;
	border-radius: var(--theme-border-radius);
	border: var(--theme-border);
	padding: var(--details-padding-block) var(--details-padding-inline);
}

.content details:hover {
	background: var(--theme-bg-offset);
}

.content details[open] {
	background: var(--theme-bg-offset);
	padding-bottom: 1rem;
}

.content details summary {
	margin: calc(-1 * var(--details-padding-block)) calc(-1 * var(--details-padding-inline));
	padding: var(--details-padding-block) var(--details-padding-inline);
	font-weight: 600;
	cursor: pointer;
}

.content details summary::marker,
.content details summary::-webkit-details-marker {
	color: var(--theme-accent-secondary);
}

.content details[open] > summary {
	border-bottom: 1px solid var(--theme-shade-subtle);
}

.content details pre {
	--padding-inline: 1.25rem;
	border: var(--glow-border);
	margin-left: 0;
	margin-right: 0;
}

button {
	border: 0;
	font-size: 1rem;
	padding: 0.33em 0.67em;
}

h2.heading {
	font-size: var(--theme-text-sm);
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.header-link {
	font-size: 1em;
	transition: border-inline-start-color 100ms ease-out, background-color 200ms ease-out;
}

.header-link a {
	display: inline-flex;
	gap: 0.5em;
	width: 100%;
	font: inherit;
	font-size: var(--theme-text-sm);
	padding: 0.4rem 0;
	line-height: 1.3;
	color: var(--theme-readable-grey);
	text-decoration: none;
	unicode-bidi: plaintext;
}

.header-link a:hover{
	color: var(--theme-contrast);
}

.com-contribute .header-link{
	padding-inline-start: .5rem;
	padding-inline-end: .5rem;
	font-size: var(--theme-text-xs);
}

.nav-group-title .icon-text-combo{
	display: flex;
	align-items: center;
	gap: .3rem;
}

a {
	transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 50em) {
	.header-link a {
		padding: 0.275rem 0;
	}
}

.header-link:hover,
.header-link:focus,
.header-link:focus-within {
	border-inline-start-color: var(--theme-accent-secondary);
}

.header-link:hover a:hover{
	text-decoration: underline;
}

.header-link a:focus {
	color: var(--theme-accent-full);
	text-decoration: underline;
}
.header-link svg {
	opacity: 0.6;
}
.header-link:hover svg {
	opacity: 0.8;
}

/* Add line and padding on the left side */
.header-link {
	padding-inline-start: 1rem;
}
.header-link.depth-3 {
	padding-inline-start: 2rem;
}
.header-link.depth-4 {
	padding-inline-start: 3rem;
	font-size: var(--theme-text-xs);
}
.header-link.depth-3 a, .header-link.depth-4 a{
	font-size: var(--theme-text-xs);
	display:inline-block;
}

.header-link.depth-3 a:before, .header-link.depth-4 a:before{
	display: inline;
    margin-right: 0.25rem;
	font-size: 32px;
    vertical-align: middle;
    line-height: 18px;
}

.header-link.depth-3 a:before{
	content: '\00B7';
}

.header-link.depth-4 a:before{
	content: '–';
}

.border-t{
	border-top: var(--theme-border);
}

.page-index #article{
    background: transparent;
    border-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
}

#article.content .main-section{
	margin-bottom: 0;
}

.card h1, h2, h3, h4, h5, h6{
	margin: 0 !important;
	padding: 0;
}

.theme-icon{
	background-color: var(--theme-accent-opacity);
	color: var(--theme-accent-full);
	border-radius: var(--theme-border-radius);
}
.theme-icon svg, .theme-icon img{
	width: 1.2rem;
	display: block;
	fill: var(--theme-accent-full);
	height: auto;
	border: none;
}



.bg-youtube{
	background-color: var(--bg-youtube);
}
.bg-slack{
	background-color: var(--bg-slack);
}
.bg-contribute{
	background-color: var(--theme-accent-opacity);
}

/* Apply different TOC styling for wide viewports showing the right sidebar */
@media (min-width: 72em) {
	h2.heading {
		padding-inline-start: 1rem;
	}

	.header-link {
		width: 200px;
		border-radius: var(--theme-border-radius);
	}
}

/* Highlight TOC header link matching the current scroll position */
.current-header-link {
	/* Indicates the current heading for forced colors users in older browsers */
	outline: 1px solid transparent;
	font-weight: 600;
	color: var(--theme-contrast);
}

@media (forced-colors: active) {
	.current-header-link {
		border: 1px solid CanvasText;
	}
}

.current-header-link a {
	color: var(--theme-accent-full);
}

.content a{
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--theme-accent-full);
	text-decoration-thickness: 1px;
}
.content a:hover{
	text-decoration-thickness: 3px;
}

/* Screenreader Only Text */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.focus\:not-sr-only:focus,
.focus\:not-sr-only:focus-visible {
	position: static;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	clip: auto;
	white-space: normal;
}


.theme-dark #logos .text{
	color: #ffffff;
	fill: #ffffff;
}

.logo .docs, .theme-dark .logo .docs{
	color: var(--theme-readable-grey); 
	text-decoration: none;
	font-weight: 600;

}

.TabGroup{
	display: none !important;
}

/*
	Add the correct amount of scroll padding to ensure that linked headings are always visible
	and have enough distance to the viewport edge and potential fixed navigation bars.

	Please note that this can't be done with `scroll-margin` on the scroll targets themselves
	due to lack of iOS Safari browser support.
*/
html {
	/* Mobile TOC is displayed above page content */
	scroll-padding-top: calc(1.5rem + var(--theme-navbar-height) + var(--theme-mobile-toc-height));
}

@media (min-width: 72em) {
	html {
		/* Regular TOC is displayed as a sidebar */
		scroll-padding-top: calc(1.5rem + var(--theme-navbar-height));
	}
}

@media (prefers-reduced-motion: reduce) {
	details svg {
		/* Removes the collapsible sidebar svg animation */
		transition: none !important;
	}
}
