---

import { getSVGIcon } from "~/util/getIcons";

const {url, title} = Astro.props;
---


<a class="hover-bg" href={url}>
    <div class="relative group">
       <div class="relative flex flex-col gap-6">
          <div class="flex gap-3 items-center">
             <div class="theme-icon relative flex items-center justify-center shrink-0 h-7 w-7 overflow-hidden border">
               <div set:html={getSVGIcon(title)} />
             </div>
             <div class="flex flex-col gap-1">
                <div class="flex items-center gap-3">
                   <p class="m-0">{title}</p>
                </div>
             </div>
          </div>
       </div>
       
    </div>
 </a>