---

import { getSVGIcon } from "~/util/getIcons";

const {url, title} = Astro.props;
---


<a class="or-iconitem" href={url}>
   <span class="or-iconitem-ico theme-icon"><span class="or-iconitem-svg" set:html={getSVGIcon(title)} /></span>
   <span class="or-iconitem-tx">{title}</span>
</a>
