---
import MenuIcon from "../LeftSidebar/MenuIcon";

let {url, title, description, width, icon, hideIcon = false} = Astro.props;

function calculateCSSWidth(width: number) {
    if(!width) {
        return 1;
    } else {
        return width / 100;
    }
}



let classes = ["card", "justify-start", "no-underline", "hover:no-underline"]
//this is required so that purgeCSS won't remove the classes from the build
let midClasses = {12: "md:col-span-12", 6: "md:col-span-6", 4: "md:col-span-4", 3: "md: col-span-3"}
//let midClasses = {}

const BIGGEST_CSS_WIDTH = 12;
width = calculateCSSWidth(Number(width))
classes.push(midClasses[Math.round(BIGGEST_CSS_WIDTH * width)])


const icon_code = (icon ? icon : title).toLowerCase().split(" ").join("_")
---
    <a class={classes.join(" ")} href={url}>   
        <div class="relative flex flex-col gap-6 hover:no-underline">
            <div class="flex items-center gap-3 hover:no-underline">
                {!hideIcon && <div class="shrink-0 theme-icon w-7 h-7 flex items-center justify-center rounded">
                    <MenuIcon icon={icon_code} />
                </div>
                }
                <h4 class="hover:no-underline">{title}</h4>
            </div>
            {description && (
                <span class="text-base flex-grow hover:no-underline">{description}</span>
                <span class="learn-more">Learn more</span>
            )}    
        </div>
    </a>
