---
import { normalizeLangTag } from '../../i18n/bcp-normalize';
import { rtlLanguages } from '../../i18n/languages';
import { getLanguageFromURL } from '../../util';
import FallbackNotice from '../FallbackNotice.astro';
import ArticleNavigationButton from './ArticleNavigationButton.astro';

export interface Props {
	content: { title: string };
	previous?: { text: string; link: string };
	next?: { text: string; link: string };
}

const { content, previous, next } = Astro.props;
// We wrap `@astrojs/` in a span to style it separately on integration pages.
const title = content.title
	.replace('@astrojs/', '<span class="scope">@astrojs/</span><wbr>')
	.replaceAll('-', '&#8288;-&#8288;');
const isFallback = !!Astro.params.fallback || undefined;
const lang = getLanguageFromURL(Astro.url.pathname);
const bcpLang = normalizeLangTag(lang);
const direction = rtlLanguages.has(lang) ? 'rtl' : 'ltr';
---


<div dir={isFallback ? 'ltr' : direction} lang={isFallback && 'en'}>
	{
		// For best cross-browser support of sticky or fixed elements, they must not be nested
		// inside elements that hide any overflow axis. The article hides `overflow-x`,
		// so we must place fixed UI elements like the mobile TOC here.
		Astro.slots.has('before-article') && (
			<>
			<div class="fixed-mobile-bar" dir={direction}>
				<slot name="before-article" />
			</div>
			</>
		)
	}
	<article id="article" class="content full">
	
		<section class="main-section">
			<div class="flex flex-row p-5 justify-between items-center mt-0 landing-hero">
				<div class="flex flex-col">
					<header>
						<slot name="before-title" />
						<h1 class="content-title" id="overview" set:html={title}></h1>
						<slot name="after-title" />
					</header>
			
				   <p>OpenReplay is an open-source, self-hosted session replay stack that let’s you see what users do on your web app, helping you troubleshoot issues faster.</p>
				</div>
				<div class="block">
				   <svg class="block w-64" viewBox="0 0 197 132" fill="none" xmlns="http://www.w3.org/2000/svg">
					  <g clip-path="url(#clip0_219_2)">
						 <path d="M11.5088 35.3254L13.4962 105.989C13.4962 105.989 65.5195 117.643 158.845 105.989V32.3188C158.845 32.3188 118.14 41.3385 11.5088 35.3254Z" fill="#FAF8F3"/>
						 <path d="M11.6605 35.4813C12.4139 56.1029 14.1415 85.1205 15.0724 105.946L13.8384 104.447C19.7054 105.707 25.7109 106.548 31.6731 107.302C61.796 110.854 92.2609 110.863 122.514 109.009C134.637 108.25 146.739 107.163 158.815 105.772L158.625 105.989L156.793 32.3188L159.287 34.3203C156.144 34.9095 153.126 35.3167 149.987 35.6893C128.528 38.124 106.852 38.5919 85.2898 38.4836C61.5405 38.3709 35.4271 37.1752 11.6562 35.4813H11.6605ZM11.3574 35.1694C47.9491 36.5254 85.5886 37.2229 122.076 34.6538C132.732 33.8957 143.453 32.8776 153.992 31.1534C156.295 30.7548 158.659 30.2869 160.893 29.767V32.3188C160.889 32.518 159.062 106.002 159.058 106.184C146.943 107.791 134.789 109.134 122.6 110.118C92.2652 112.548 61.6877 113.103 31.3614 110.1C25.2563 109.442 19.1945 108.718 13.15 107.527L11.9246 107.237L11.916 106.028C11.9073 85.2635 11.5176 55.5354 11.3574 35.1651V35.1694Z" fill="#231F20"/>
						 <path d="M17.7832 42.6642L19.5801 100.725C19.5801 100.725 66.2517 109.178 151.1 100.725V40.1948C151.1 40.1948 114.265 47.6073 17.7832 42.6642Z" fill="white"/>
						 <path d="M18.8049 43.7083C19.3981 62.7096 19.6276 81.5897 19.7965 100.721L19.6189 100.513C25.0269 101.388 30.4956 101.956 35.9598 102.445C74.2704 105.603 112.841 103.97 151.043 100.153L150.528 100.725L150.883 40.1948L151.143 40.4071C129.151 44.0635 106.775 44.7091 84.5279 45.1683C73.3915 45.3719 62.2507 45.2593 51.11 45.125C41.7748 44.9777 28.0102 44.6397 18.8006 43.7083H18.8049ZM16.7656 41.6245C26.7199 41.5768 41.0474 42.4693 51.175 42.8288C81.7091 43.7603 112.378 44.1978 142.812 41.1003C145.661 40.784 148.51 40.4374 151.32 39.9392C151.472 40.0865 151.567 100.535 151.675 100.73V101.25L151.156 101.302C129.273 103.407 107.303 104.694 85.3202 104.845C63.3549 104.902 41.2856 104.282 19.541 100.942L19.3721 100.916L19.3635 100.734C18.3286 81.1608 17.3674 61.3363 16.7612 41.6245H16.7656Z" fill="#231F20"/>
						 <path d="M83.4102 31.0494C83.4102 31.0494 94.3907 15.2453 104.566 14.7427C107.03 14.6214 109.277 16.3717 109.584 18.8194C109.597 18.9277 109.606 19.036 109.614 19.1486C109.718 21.1025 108.363 22.8397 106.484 23.3769C101.851 24.7069 89.5023 28.411 89.2858 30.131C89.0217 32.2494 83.4145 31.0451 83.4145 31.0451L83.4102 31.0494Z" fill="white"/>
						 <path d="M83.0076 31.2097C82.96 31.0884 83.0076 30.8501 83.0942 30.7505C83.1635 30.6638 83.3064 30.4819 83.3757 30.3952C86.6923 26.2016 90.0436 22.0123 94.183 18.5681C97.1186 16.1377 100.591 13.9672 104.505 13.6813C109.866 13.3131 113.083 20.1451 108.45 23.4723C107.809 23.9401 107.025 24.1957 106.259 24.3647C103.609 25.0059 100.951 25.6471 98.3223 26.3749C95.7028 27.12 93.0616 27.8998 90.6498 29.1215C90.2385 29.3685 89.7752 29.6067 89.4981 29.9967C89.4505 30.0616 89.4591 30.1006 89.4288 30.1786C89.2989 31.0971 88.2814 31.4003 87.5107 31.5216C86.2031 31.7036 84.8911 31.5996 83.5878 31.5L83.4579 31.487L83.393 31.4783H83.3583C83.2198 31.4653 83.0553 31.331 83.012 31.2054L83.0076 31.2097ZM83.813 30.8934C83.7913 30.7851 83.6008 30.6292 83.5272 30.6378C83.6441 30.6725 83.8563 30.7375 83.9775 30.7721C85.402 31.1057 86.9954 31.4263 88.4113 30.9368C88.6971 30.8111 88.9612 30.6205 89.0608 30.3476C89.13 30.1916 89.13 29.988 89.234 29.845C89.5414 29.3771 90.0307 29.1129 90.481 28.8313C91.6847 28.1381 92.9447 27.5879 94.209 27.055C98.279 25.3135 102.457 23.8318 106.618 22.3372C110.082 20.6 108.437 15.8475 104.808 15.8085C101.223 15.9124 98.0409 17.6713 95.062 19.7205C90.836 22.7704 87.0171 26.5742 84.0295 30.8718L83.8909 31.0841L83.8216 31.1924L83.787 31.2443C83.8563 31.175 83.8606 30.9844 83.8 30.8891L83.813 30.8934Z" fill="#231F20"/>
						 <path d="M112.758 64.9668C112.758 64.9668 128.332 56.1159 130.714 55.908C133.095 55.7 136.802 58.6113 138.126 60.9941C139.451 63.3768 141.833 68.203 138.789 70.5597C135.745 72.9165 113.637 78.4791 113.637 78.4791L112.758 64.9668Z" fill="white"/>
						 <path d="M112.377 64.7588C112.637 64.4772 113.113 64.2606 113.433 64.0483C116.538 62.1855 120.162 60.0713 123.349 58.3644C125.198 57.381 127.051 56.4019 128.991 55.5701C129.532 55.3665 130.134 55.1109 130.727 55.0545C133.403 55.0329 135.468 56.6748 137.243 58.3514C138.819 59.8937 139.811 61.9602 140.586 64.018C141.469 66.3748 141.729 69.5157 139.395 71.3265C136.473 73.1331 133.056 73.9172 129.887 74.931C124.553 76.4776 119.171 77.7816 113.741 78.8994L113.239 79.025C112.927 74.2725 112.641 69.5027 112.377 64.7588ZM113.139 65.1704C113.468 69.6066 113.784 74.0212 114.07 78.4488L113.533 78.0589C119.755 76.118 127.163 73.9996 133.264 71.8897C134.554 71.4435 135.84 70.9713 137.04 70.4298C137.577 70.1698 138.079 69.9359 138.486 69.52C140.504 67.3755 138.3 63.2729 137.105 61.1154C135.789 59.1919 133.273 56.9044 130.844 56.7614C129.774 56.9564 128.757 57.4763 127.744 57.9095C123.176 60.002 118.382 62.558 113.897 64.8671L113.438 65.1054L113.208 65.2267L113.156 65.2527C113.156 65.2527 113.165 65.205 113.143 65.1747L113.139 65.1704Z" fill="#231F20"/>
						 <path d="M59.7949 64.2303C59.7949 64.2303 44.2204 55.3794 41.839 55.1715C39.4575 54.9635 35.7512 57.8748 34.4262 60.2576C33.1013 62.6403 30.7199 67.4665 33.7638 69.8232C36.8077 72.18 59.7949 77.7426 59.7949 77.7426" fill="white"/>
						 <path d="M59.5829 64.6072C54.6426 62.0381 49.6892 59.3738 44.6406 57.056C43.5321 56.6271 42.2808 55.83 41.1291 56.0379C38.7476 56.6315 36.5048 58.5853 35.2405 60.6215C34.5866 61.7999 33.9848 63.0302 33.6038 64.2736C32.9456 66.1971 32.9153 68.6232 35.0586 69.5113C36.5827 70.2478 38.2021 70.7807 39.8344 71.3309C43.8049 72.6435 47.8187 73.8262 51.8411 74.9873L59.899 77.3224L59.6955 78.1628C54.1923 77.0625 48.741 75.7498 43.32 74.2595C40.6095 73.4883 37.9206 72.7085 35.2448 71.6255C33.7077 71.0623 32.1966 70.0745 31.6683 68.4326C30.7201 65.387 32.3091 62.3284 33.7077 59.7464C34.5174 58.3817 35.5825 57.3463 36.7472 56.4105C38.4099 55.1585 40.6268 53.8155 42.7917 54.578C46.2686 55.9426 49.5073 57.8185 52.7461 59.6077C55.1838 60.9941 57.6128 62.3934 60.0116 63.8534L59.5829 64.6072Z" fill="#231F20"/>
						 <path d="M133.303 56.5535C133.303 56.5535 134.819 53.8415 139.188 53.313C143.556 52.7844 146.202 57.8878 146.202 60.2359C146.202 62.584 144.21 65.9242 142.231 66.8426C140.253 67.7611 135.758 55.5571 133.303 56.5535Z" fill="white"/>
						 <path d="M133.143 56.6965C133.121 56.6661 133.095 56.6055 133.1 56.5405C133.1 56.4798 133.139 56.4062 133.139 56.4062L133.16 56.3672C134.282 54.4957 136.356 53.3779 138.438 52.9274C140.703 52.3295 143.102 53.261 144.582 55.0199C146.371 56.9997 147.527 60.015 146.392 62.584C145.656 64.4859 144.44 66.3791 142.539 67.3668C141.703 67.7871 140.88 67.0593 140.404 66.4831C138.802 64.4686 137.754 62.1551 136.447 59.9933C135.706 58.8409 135.057 57.4633 133.844 56.7744C133.58 56.6488 133.377 56.8048 133.147 56.6878L133.143 56.6965ZM133.468 56.4105C133.468 56.3585 133.424 56.3022 133.372 56.3022C133.372 56.3022 133.398 56.2979 133.411 56.2936C135.507 55.882 138.659 62.1768 139.85 63.7711C140.495 64.6678 141.054 65.7422 141.984 66.2794C142.062 66.2664 141.872 66.3314 142.119 66.2058C144.033 64.9928 145.591 62.2678 145.522 59.9673C145.258 57.7795 143.803 55.4834 141.898 54.3874C140.906 53.8242 139.724 53.7115 138.612 53.8978C136.706 54.1837 134.801 55.0155 133.572 56.5448L133.528 56.6011L133.507 56.6315C133.502 56.6445 133.537 56.5795 133.528 56.5318C133.528 56.4755 133.494 56.4279 133.463 56.4062L133.468 56.4105Z" fill="#231F20"/>
						 <path d="M39.0897 55.908C39.0897 55.908 32.2269 53.1743 29.3129 55.1628C26.3989 57.1513 26.1347 60.5955 26.269 62.3197C26.4032 64.044 30.3131 67.1329 31.3003 66.8426C32.2875 66.5524 35.8942 55.1888 39.0897 55.908Z" fill="white"/>
						 <path d="M38.882 55.843C38.83 55.908 38.8993 56.0683 38.9686 56.0942L38.9339 56.0856C38.1935 55.8776 37.4012 55.6784 36.6478 55.5224C34.4872 55.1282 31.8979 54.5866 29.8932 55.6264C29.6074 55.8213 29.3087 56.0509 29.0662 56.2935C27.5074 57.7622 26.9316 60.0279 27.0658 62.1248C27.0658 62.4713 27.226 62.74 27.4728 63.1212C28.2782 64.2476 29.6031 65.3913 30.8284 66.0022C30.9627 66.0715 31.1445 66.1061 31.1402 66.1148C31.0839 66.1321 31.0016 66.1365 30.941 66.1884C31.0579 66.0411 31.3783 65.5126 31.5559 65.1487C32.9674 62.6187 35.4744 56.3455 38.4187 55.661C38.5399 55.6524 38.6612 55.6437 38.7781 55.6394C38.8084 55.6394 38.7737 55.7607 38.8777 55.843H38.882ZM39.2977 55.9729C39.1764 56.0509 38.9383 56.1289 38.7867 56.1159L38.5356 56.1679L38.2931 56.2675C37.2063 56.913 36.5742 58.0828 35.9463 59.1615C34.7773 61.2886 33.894 63.5804 32.8548 65.7985C32.5301 66.3877 32.2227 67.3495 31.4563 67.5791C29.5901 67.9127 25.8145 64.4469 25.4941 62.636C25.1433 59.4951 26.3384 56.0466 29.2134 54.4047C32.1491 53.001 36.2494 54.4133 39.0249 55.6394C39.0552 55.6567 39.1374 55.6913 39.1721 55.7087C39.25 55.7347 39.3323 55.8993 39.2977 55.9729Z" fill="#231F20"/>
						 <path d="M88.9437 30.9151C89.1342 30.9238 89.3204 30.9454 89.5109 30.9671C92.2777 31.344 111.68 34.7145 112.416 55.5614C112.97 71.2225 113.719 84.5616 111.961 94.2356C110.866 100.262 105.618 104.637 99.4999 104.637H69.7234C69.7234 104.637 56.4697 106.024 60.1717 55.2451C60.1847 55.0372 60.2107 54.8292 60.2454 54.6256C60.7563 51.606 65.2853 29.5937 88.9437 30.9108V30.9151Z" fill="white"/>
						 <path d="M89.0088 29.741C97.833 30.7245 106.618 35.5549 110.714 43.6563C112.143 46.5113 113.027 49.6608 113.351 52.832C113.65 55.4444 113.676 61.7825 113.789 64.4902C113.927 69.6369 114.027 74.7967 113.918 79.9694C113.776 85.1551 113.55 90.4188 112.368 95.4919C110.922 100.751 106.047 104.746 100.621 105.105C96.2483 105.179 89.589 105.01 85.1509 105.014L69.7236 104.945C68.8056 104.967 67.6236 104.477 66.8312 103.836C61.8129 99.7332 60.5832 90.6831 59.7995 84.5746C58.8167 75.2169 58.9769 65.7769 59.4878 56.3975C59.5268 55.4141 59.6004 54.3137 59.8298 53.3692C62.9647 38.5572 73.4862 28.9352 89.0088 29.7454V29.741ZM88.8789 32.0805C74.3349 30.9584 64.4628 39.8699 61.1028 53.6378C60.8474 54.578 60.7694 55.5137 60.7001 56.4755C60.2585 61.8735 59.9814 67.2932 59.9424 72.7042C59.9424 81.0308 60.3971 97.8444 67.1863 103.351C67.8877 103.897 68.8533 104.347 69.7192 104.325C74.8545 104.304 87.9003 104.247 92.8624 104.2C95.0489 104.152 98.3699 104.2 100.531 104.074C105.471 103.641 109.848 99.9325 111.056 95.1323C111.463 93.2911 111.676 91.3979 111.836 89.5177C112.516 81.2128 112.026 72.8905 111.693 64.5638C111.446 61.0027 111.476 54.7166 110.758 51.2724C108.887 40.5111 99.2749 33.4928 88.8702 32.0805H88.8789Z" fill="#231F20"/>
						 <path d="M61.3931 50.1287C61.3931 50.1287 72.0445 42.6079 91.0136 45.0253C96.8243 45.7661 102.431 47.772 107.233 51.1251C109.502 52.7064 111.619 54.604 112.451 56.5535" fill="white"/>
						 <path d="M60.9688 49.5222C68.9833 44.6874 79.1282 43.3444 88.3335 44.0549C95.4214 44.4968 102.475 46.6152 108.272 50.8002C110.372 52.3165 112.009 53.8891 113.732 56.0076L111.173 57.0993C110.983 54.8942 108.861 53.5036 107.255 52.2039C100.829 47.3777 92.7629 45.3676 84.7873 45.2592C79.6521 45.1423 74.4433 45.7271 69.5289 47.2564C66.866 48.1012 64.1382 49.1973 61.8217 50.7309L60.9731 49.5265L60.9688 49.5222Z" fill="#231F20"/>
						 <path d="M59.5181 67.7481C59.5181 67.7481 68.6194 64.6418 79.5523 63.4548C90.1778 62.2981 100.942 64.2043 110.446 69.0954C111.398 69.5849 112.29 70.0788 113.057 70.5597" fill="white"/>
						 <path d="M59.1152 66.5653C60.3276 67.1155 61.5616 66.4657 62.6787 66.2058C63.8001 65.9068 64.9216 65.6166 66.0517 65.3523C70.5634 64.2909 75.14 63.4981 79.7514 63.0085C90.1603 61.9905 100.89 63.7277 110.324 68.3069C111.52 68.8658 112.373 69.6196 113.892 69.2297L112.23 71.8897C111.961 70.7936 111.316 70.3388 110.485 69.8795C109.744 69.455 108.969 69.0867 108.212 68.7012C97.231 63.3031 84.9255 62.3934 73.0314 64.8758C69.6498 65.5213 66.2941 66.3271 62.9861 67.2845C61.8474 67.6961 60.6047 67.6831 59.9249 68.9308L59.1196 66.5653H59.1152Z" fill="#231F20"/>
						 <path d="M68.0176 47.0225C68.1302 50.2587 68.2124 55.0848 69.3295 65.1357L68.0176 47.0225Z" fill="white"/>
						 <path d="M70.8969 46.9185C70.6458 46.9531 70.2691 47.0398 70.0179 47.0918C69.7841 47.1524 69.113 47.3257 69.1303 47.551C68.8402 51.8876 68.8402 56.2502 69.2126 60.5825C69.3555 62.0858 69.507 63.5934 69.7581 65.0837L68.8965 65.179C68.5241 59.625 67.6582 53.7288 67.0087 48.1878L66.9394 47.6203C66.9784 47.486 66.5367 47.3301 66.3246 47.2867C66.0648 47.2261 65.6708 47.1784 65.411 47.1438L65.1382 47.1178L70.9012 46.9142L70.8969 46.9185Z" fill="#231F20"/>
						 <path d="M100.643 47.1741C100.643 47.1741 100.678 55.1282 99.4873 64.5812L100.643 47.1741Z" fill="white"/>
						 <path d="M102.99 47.1654C102.011 47.8153 101.678 48.4001 101.617 49.3792L101.345 51.567C101.068 53.7332 100.552 58.1044 100.314 60.2749C100.171 61.7262 99.9981 63.1732 99.9158 64.6332L99.0585 64.5248C99.327 63.0952 99.4915 61.6526 99.6127 60.2056C99.8509 57.3116 99.8855 54.4003 99.747 51.4977C99.721 50.7742 99.6647 50.0464 99.6171 49.3229C99.5954 48.3828 99.288 47.733 98.3008 47.1741L102.99 47.1524V47.1654Z" fill="#231F20"/>
						 <path d="M45.7629 1.12639H4.06632C2.3661 1.12639 0.987793 2.50546 0.987793 4.20663V25.4651C0.987793 27.1663 2.3661 28.5453 4.06632 28.5453H45.7629C47.4631 28.5453 48.8414 27.1663 48.8414 25.4651V4.20663C48.8414 2.50546 47.4631 1.12639 45.7629 1.12639Z" fill="#E2E6F7"/>
						 <path d="M45.7626 1.343C35.6351 1.30834 19.7012 1.56828 9.45676 1.73291C8.74233 1.76323 4.5034 1.78489 3.84526 1.83255C2.6762 1.94519 1.71497 3.01959 1.75394 4.19364L1.77126 5.32436L1.8059 7.59447C1.88383 12.4986 1.94878 20.288 1.96177 25.1922C1.85353 26.4312 2.79311 27.5619 4.06175 27.5489L13.1371 27.5792C21.3249 27.6269 36.6656 27.8782 44.9053 28.0125L45.4725 28.0211C46.607 28.1338 47.7674 27.5013 48.196 26.4225C48.4645 25.894 48.3909 24.9279 48.4125 24.3474C48.4385 22.922 48.4905 19.0143 48.5121 17.537L48.59 8.45659C48.59 6.9533 48.6117 5.40667 48.59 3.93803C48.4775 2.51272 47.1872 1.33001 45.7583 1.34734L45.7626 1.343ZM45.7626 0.909776C48.0315 0.93577 49.3175 2.90262 49.075 5.0471C49.075 5.74892 49.088 7.72444 49.088 8.45226C49.1096 11.4632 49.1789 19.166 49.2309 22.0729C49.2309 22.7964 49.2785 24.7719 49.2828 25.4824C49.3045 26.7994 48.5294 28.0731 47.3474 28.6666C46.6156 29.0782 45.7237 29.0782 44.9097 29.0782C32.7817 29.2688 16.1377 29.5591 4.06608 29.5374C1.75394 29.5591 -0.1512 27.4926 0.0133351 25.1922C0.0219948 24.8499 0.0133351 23.8492 0.017665 23.4896C0.017665 22.0513 0.0826129 13.7636 0.104262 12.139C0.130241 10.6531 0.17354 6.76701 0.203849 5.32869L0.221168 4.18931C0.216839 2.14881 2.03538 0.372574 4.06608 0.433226C16.5274 0.641175 33.3446 0.914108 45.7626 0.905444V0.909776Z" fill="#231F20"/>
						 <path d="M174.966 18.0136H136.248C134.622 18.0136 133.304 19.3325 133.304 20.9595V44.8693C133.304 46.4963 134.622 47.8153 136.248 47.8153H174.966C176.592 47.8153 177.91 46.4963 177.91 44.8693V20.9595C177.91 19.3325 176.592 18.0136 174.966 18.0136Z" fill="#E4EDF6"/>
						 <path d="M174.965 18.6114C162.054 18.4901 149.138 18.2129 136.231 18.2345C135.72 18.2432 135.187 18.3862 134.758 18.6764C133.836 19.2743 133.451 20.327 133.542 21.4101L133.546 22.5321L133.598 31.5216C133.62 34.5195 133.624 37.5131 133.667 40.5111L133.724 44.9863C133.754 45.6318 134.048 46.247 134.516 46.6846C134.984 47.1221 135.611 47.3647 136.244 47.3561L154.208 47.1438C161.123 47.0571 168.059 47.0398 174.974 46.9791C176.057 46.9791 177.031 46.0434 177.044 44.956C177.044 44.6441 177.052 43.6433 177.048 43.301C177.035 41.0569 177.074 36.5557 177.091 34.3116L177.191 25.3221L177.239 20.8555C177.23 19.6555 176.161 18.6071 174.957 18.6114H174.965ZM174.965 17.4114C176.814 17.3594 178.494 18.9364 178.555 20.7992L178.616 25.3221L178.715 34.3116C178.732 37.2099 178.776 41.8107 178.763 44.7047C178.871 46.6586 177.312 48.4954 175.351 48.6427C174.775 48.6817 172.796 48.6341 172.177 48.6427C161.781 48.6167 146.791 48.4045 136.248 48.2875C134.49 48.3005 132.918 46.7842 132.901 45.0253C132.966 38.0677 133.039 29.5461 133.065 22.5365C133.1 21.8693 133 20.9205 133.165 20.2447C133.477 18.8497 134.806 17.797 136.231 17.8013C149.142 17.8186 162.058 17.5457 174.97 17.4201L174.965 17.4114Z" fill="#231F20"/>
						 <path d="M143.825 103.446H122.111C120.796 103.446 119.729 104.513 119.729 105.829V118.15C119.729 119.466 120.796 120.532 122.111 120.532H143.825C145.14 120.532 146.207 119.466 146.207 118.15V105.829C146.207 104.513 145.14 103.446 143.825 103.446Z" fill="#E0FFED"/>
						 <path d="M143.821 103.732C137.551 103.511 128.766 103.819 122.418 103.936C121.301 103.849 120.284 104.676 120.323 105.833C120.331 105.924 120.327 106.223 120.336 106.318L120.461 111.508L120.574 116.698C120.574 116.863 120.6 118.111 120.617 118.258C120.678 119.003 121.366 119.623 122.107 119.597C129.238 119.519 136.373 119.51 143.509 119.714C144.518 119.844 145.427 119.207 145.484 118.15C145.574 115.321 145.722 110.113 145.791 107.28C145.782 106.903 145.869 105.768 145.791 105.413C145.626 104.486 144.782 103.754 143.821 103.736V103.732ZM143.821 103.156C145.051 103.108 146.241 104.035 146.51 105.257C146.627 105.738 146.592 106.782 146.618 107.276L146.752 112.466L146.908 117.656C146.912 117.747 146.917 118.05 146.921 118.141C146.977 119.666 145.782 121.083 144.271 121.299C136.893 121.603 129.493 121.52 122.111 121.464C120.899 121.464 119.734 120.736 119.201 119.666C118.703 118.834 118.881 117.617 118.881 116.694L118.993 111.504L119.119 106.314C119.119 106.223 119.132 105.92 119.132 105.829C119.136 104.26 120.526 102.891 122.094 102.943C128.597 103.082 137.391 103.355 143.821 103.156Z" fill="#231F20"/>
						 <path d="M126.38 18.0136C131.261 18.0136 135.217 14.0548 135.217 9.17142C135.217 4.28803 131.261 0.329254 126.38 0.329254C121.5 0.329254 117.543 4.28803 117.543 9.17142C117.543 14.0548 121.5 18.0136 126.38 18.0136Z" fill="#E7FFEC"/>
						 <path d="M134.927 9.17142C135.087 1.51629 125.7 -2.20946 120.478 3.26653C117.361 6.41176 117.452 11.8921 120.621 14.9333C125.83 20.0887 134.75 16.5753 134.927 9.17142ZM135.507 9.17142C135.693 15.7348 128.835 20.496 122.739 17.9703C116.512 15.4835 114.927 7.16991 119.79 2.57337C125.709 -3.02393 135.282 1.10472 135.507 9.17142Z" fill="#231F20"/>
						 <path d="M172.523 53.2739C176.567 53.2739 179.845 49.994 179.845 45.9481C179.845 41.9021 176.567 38.6222 172.523 38.6222C168.48 38.6222 165.202 41.9021 165.202 45.9481C165.202 49.994 168.48 53.2739 172.523 53.2739Z" fill="white"/>
						 <path d="M178.313 45.9481C178.789 40.1082 171.753 36.6683 167.501 40.9226C164.812 43.5437 165.003 48.2268 167.938 50.5359C172.117 53.8588 177.711 50.9345 178.313 45.9481ZM181.374 45.9481C181.785 50.9778 177.46 54.9939 172.519 54.6386C165.444 54.1274 162.232 45.5538 167.189 40.615C172.203 35.6546 180.937 38.7002 181.369 45.9481H181.374Z" fill="#231F20"/>
						 <path d="M18.3976 111.166C18.3976 111.166 6.34327 125.298 3.36865 124.704C3.36865 124.704 8.13583 128.876 8.13583 130.865C8.13583 132.853 15.8257 118.345 22.1083 116.36C22.1083 116.36 17.5489 113.328 18.4019 111.17L18.3976 111.166Z" fill="#DFB9B9"/>
						 <path d="M18.2894 111.352C18.3197 111.396 18.4323 111.422 18.4929 111.383C18.5622 111.331 18.5146 111.365 18.5189 111.37C18.3284 111.617 17.9733 112.067 17.7741 112.318C14.8212 116.001 11.7946 119.692 8.37402 122.967C7.4864 123.799 6.51218 124.657 5.4427 125.311C4.76725 125.71 3.9489 126.056 3.12623 125.926C3.12623 125.926 4.19138 123.76 4.19138 123.764C6.00559 125.601 7.84145 127.338 8.88494 129.769C8.99319 130.063 9.07113 130.401 9.08412 130.722L9.09278 130.809V130.852C9.06247 130.276 8.30907 129.882 7.8198 130.206C8.25278 129.821 8.74639 129.136 9.1837 128.591C12.3878 124.557 17.0511 117.768 22.0391 116.153L21.9828 116.538C20.4673 115.416 17.7828 113.454 18.1205 111.322C18.1119 111.322 18.1985 111.396 18.2851 111.352H18.2894ZM18.5146 110.98C18.5579 111.071 18.6012 111.279 18.5492 111.413L18.5189 111.595C18.5102 111.716 18.5146 111.838 18.5275 111.963C18.6618 112.756 19.1814 113.419 19.7096 114.021C20.5582 114.931 21.5411 115.754 22.6019 116.408C21.3506 116.807 20.2465 117.543 19.2506 118.414C16.6051 120.771 14.5527 123.691 12.561 126.615L10.5866 129.596C10.1103 130.276 9.67731 131.03 9.05381 131.649C8.94556 131.753 8.76371 131.879 8.59484 131.939C8.14021 132.113 7.58166 131.918 7.34351 131.493C7.22228 131.294 7.19197 131.073 7.17465 130.852C7.16166 130.813 7.14867 130.778 7.14434 130.739C7.14434 130.696 7.07073 130.54 7.04908 130.484C6.02724 128.595 4.16973 127.048 2.55469 125.645L3.61983 123.483C3.61117 123.465 3.58086 123.478 3.58086 123.491C3.76272 123.47 3.89694 123.444 4.10478 123.357C5.1959 122.898 6.12249 122.187 7.09238 121.464C9.75092 119.402 12.2363 117.041 14.6523 114.68C15.5789 113.757 17.129 112.202 18.0209 111.261L18.1292 111.144L18.1855 111.088C18.1855 111.088 18.1768 111.088 18.2634 111.014C18.3414 110.954 18.4713 110.962 18.5189 110.984L18.5146 110.98Z" fill="#231F20"/>
						 <path d="M32.711 118.143C39.8358 115.497 43.5464 107.785 40.9989 100.916C38.4514 94.0474 30.6104 90.6239 23.4856 93.2694C16.3608 95.9149 12.6501 103.628 15.1977 110.496C17.7452 117.365 25.5862 120.788 32.711 118.143Z" fill="#FCEFEF"/>
						 <path d="M40.7875 100.99C37.3713 92.494 26.1829 90.6788 19.7574 96.8739C13.4185 102.822 14.7997 113.185 22.823 116.828C28.9497 119.718 36.8604 117.088 40.0212 111.019C41.6449 108.008 42.0952 104.213 40.7875 100.99ZM41.2162 100.829C43.8747 108.025 40.1078 116.053 33.0068 118.925C20.7966 123.951 8.56039 111.699 14.6092 99.6076C20.2077 88.5213 37.0552 88.9329 41.2162 100.829Z" fill="#231F20"/>
						 <path d="M48.8408 23.7755C48.8408 23.7755 50.4299 28.2031 55.197 30.8588C55.197 30.8588 49.4383 31.5259 45.7666 28.5453" fill="#E2E6F6"/>
						 <path d="M49.2263 23.6369C50.4517 26.8254 52.9933 29.4205 55.9549 31.0711C54.8724 31.0624 53.7727 31.2227 52.6989 31.149C50.1616 31.0407 47.568 30.4212 45.5156 28.8529L46.0136 28.2377C46.6327 28.7273 47.2995 29.1649 48.0313 29.4941C50.2482 30.4819 52.7595 30.7938 55.1712 30.6465L55.0889 31.0494C52.9154 29.8797 51.0319 28.1728 49.6593 26.1149C49.196 25.4218 48.789 24.7199 48.4556 23.9141L49.2263 23.6369Z" fill="#231F20"/>
						 <path d="M189.029 45.9481L176.321 61.9212L174.931 67.7481L180.889 64.1046L193.597 46.9792C193.597 46.9792 196.576 45.2289 196.775 42.8462C196.974 40.4634 192.805 40.0302 192.008 40.6454C191.211 41.2606 189.029 45.9481 189.029 45.9481Z" fill="#FAD1D1"/>
						 <path d="M189.207 46.0607C189.241 46.0044 176.291 62.3544 176.529 61.9731L175.139 67.8001L174.814 67.5661L180.521 63.5154C180.521 63.5154 180.322 63.6974 180.326 63.6931C180.408 63.6064 193.389 46.8449 193.485 46.7972C195.693 45.5322 198.52 41.8194 194.571 40.8013C193.818 40.615 193 40.5154 192.268 40.745C191.779 41.0396 191.523 41.6678 191.207 42.1487C190.48 43.418 189.852 44.7047 189.202 46.065L189.207 46.0607ZM188.847 45.8398C189.622 44.2282 190.423 42.5082 191.436 40.9876C191.605 40.7493 191.813 40.4721 192.112 40.3508L192.411 40.2641C194.632 39.8656 197.957 41.1263 196.736 43.8946C196.139 45.3199 194.974 46.3596 193.705 47.1741C194.013 46.8405 181.365 64.5985 181.447 64.5249C181.447 64.5249 181.331 64.6635 181.326 64.6635L181.248 64.7025L175.044 67.9344L174.598 68.2073L174.719 67.7004L176.109 61.8735C176.065 61.8172 188.839 45.8961 188.847 45.8398Z" fill="#231F20"/>
						 <path d="M177.217 69.3683C177.135 69.2774 177.035 69.2687 176.923 69.3423C176.836 69.3553 176.745 69.364 176.658 69.377C176.49 69.403 176.321 69.4333 176.156 69.4723C175.818 69.559 175.489 69.6846 175.173 69.8232C174.481 70.1308 173.866 70.5684 173.32 71.0926C173.091 71.3135 173.134 71.7381 173.424 71.8897C175.078 72.7692 177.031 72.6565 178.849 72.6565C180.897 72.6565 182.95 72.6305 184.998 72.6869C187.046 72.7432 189.085 72.8818 191.099 73.2197C192.099 73.3887 193.09 73.601 194.069 73.8782C194.402 73.9735 194.779 74.0559 195.043 74.2941C195.043 74.2941 195.182 74.4111 195.186 74.4587C195.186 74.4458 195.203 74.3548 195.164 74.3938C195.039 74.5237 194.727 74.5497 194.562 74.593C192.242 75.2256 189.908 75.8277 187.574 76.4169C186.712 76.6336 187.076 77.9549 187.942 77.7513C190.25 77.2054 192.549 76.6249 194.84 75.9924C195.697 75.7541 196.723 75.3252 196.563 74.2421C196.437 73.3887 195.576 72.8948 194.831 72.6565C190.523 71.2832 185.777 71.3525 181.309 71.4218C180.014 71.4392 178.715 71.4608 177.421 71.4825C176.251 71.4998 175.03 71.4998 173.939 71.0233L174.043 71.8204C174.853 70.9063 175.853 70.3561 177.022 70.0355C177.351 69.9445 177.741 69.7972 177.771 69.3987C177.793 69.0781 177.55 68.7791 177.226 68.8181C176.901 68.8571 176.862 69.3857 177.226 69.3727L177.217 69.3683Z" fill="#231F20"/>
						 <path d="M31.8202 96.5144C30.9716 96.0985 30.0147 95.9815 29.0924 96.2024C28.8543 96.2588 28.6854 96.5447 28.7634 96.783C28.8456 97.0342 29.0838 97.1685 29.3436 97.1122C29.4388 97.0906 29.5297 97.0732 29.625 97.0602C29.5081 97.0775 29.6813 97.0559 29.7029 97.0559C29.7419 97.0559 29.7852 97.0516 29.8242 97.0472C30.0147 97.0386 30.2052 97.0472 30.4001 97.0689C30.517 97.0819 30.3308 97.0559 30.4347 97.0732C30.4867 97.0819 30.5429 97.0905 30.5949 97.1035C30.6902 97.1252 30.7811 97.1469 30.872 97.1729C30.9629 97.1989 31.0539 97.2335 31.1448 97.2682C31.24 97.3028 31.0798 97.2335 31.1794 97.2812C31.2271 97.3028 31.279 97.3288 31.3266 97.3505C31.5518 97.4631 31.8592 97.4198 31.9891 97.1772C32.106 96.9606 32.0584 96.6357 31.8159 96.5144H31.8202Z" fill="#231F20"/>
						 <path d="M22.3509 99.4993C20.7618 101.232 19.8829 103.533 19.9175 105.881C19.9262 106.292 20.5626 106.292 20.5583 105.881C20.528 103.702 21.3377 101.566 22.8142 99.9585C23.0999 99.6509 22.6366 99.1874 22.3509 99.495V99.4993Z" fill="#231F20"/>
						 <path d="M35.8167 101.05C37.5313 103.359 37.7565 106.539 36.3146 109.039C34.8728 111.539 32.3312 113.051 29.5384 113.246C27.7632 113.371 25.9793 113.033 24.3469 112.336C23.9486 112.167 23.4982 112.219 23.2558 112.622C23.0479 112.973 23.1562 113.523 23.5415 113.713C26.7673 115.29 30.7031 115.334 33.838 113.484C36.6437 111.825 38.5445 108.822 38.406 105.508C38.328 103.676 37.6829 101.925 36.4532 100.556C36.1501 100.218 35.5396 100.673 35.8167 101.046V101.05Z" fill="#231F20"/>
						 <path d="M169.618 42.075C169.735 43.4223 169.856 44.7783 170.017 46.1214L170.328 46.0347C170.298 45.9871 170.289 45.9351 170.298 45.8787C170.307 45.7185 170.064 45.6925 170.021 45.8398C169.991 45.9524 169.991 46.052 170.021 46.1603C170.068 46.338 170.367 46.3076 170.35 46.117C170.22 44.7654 170.055 43.418 169.882 42.0707C169.861 41.9061 169.605 41.8974 169.618 42.0707V42.075Z" fill="#231F20"/>
						 <path d="M169.705 42.4303C169.739 42.309 169.809 42.2743 169.908 42.3306C169.969 42.3566 170.025 42.3826 170.081 42.4086C170.177 42.4563 170.272 42.4996 170.367 42.5472C170.536 42.6295 170.701 42.7075 170.865 42.7942C171.207 42.9675 171.545 43.1494 171.878 43.34C172.558 43.7256 173.221 44.1372 173.866 44.5834C174.052 44.709 174.229 44.4058 174.043 44.2845C173.186 43.7083 172.294 43.1841 171.367 42.7205C170.939 42.5082 170.497 42.27 170.042 42.1183C169.882 42.0664 169.696 42.0447 169.575 42.1877C169.493 42.2873 169.471 42.4216 169.549 42.5256C169.618 42.6166 169.765 42.5342 169.705 42.4346V42.4303Z" fill="#231F20"/>
						 <path d="M170.488 46.377C170.93 46.2513 171.328 46.0304 171.679 45.7315L171.428 45.7011C172.03 46.5589 172.558 47.4514 172.965 48.4218C173.017 48.5431 173.181 48.5301 173.259 48.4608C173.714 48.0579 174.169 47.6506 174.623 47.2477C174.71 47.1698 174.693 47.0398 174.623 46.9618C174.026 46.26 173.104 45.8917 172.584 45.1206L172.506 45.4152C172.831 45.2289 173.16 45.0556 173.489 44.8737C173.727 44.7394 173.519 44.3971 173.277 44.5098C172.939 44.67 172.614 44.8563 172.289 45.0383C172.194 45.0946 172.147 45.2376 172.212 45.3329C172.761 46.143 173.705 46.5199 174.338 47.2434V46.9575C173.892 47.3691 173.441 47.7806 172.995 48.1922L173.29 48.2312C172.865 47.2651 172.333 46.338 171.679 45.5105C171.627 45.4412 171.51 45.4542 171.454 45.5105C171.164 45.8051 170.822 46.0304 170.432 46.1777C170.306 46.2253 170.354 46.416 170.488 46.3813V46.377Z" fill="#231F20"/>
						 <path d="M177.668 61.8432C177.81 61.9558 177.997 62.0035 178.165 62.0728C178.334 62.1421 178.499 62.2201 178.659 62.3024C178.819 62.3847 178.984 62.4714 179.14 62.5667C179.296 62.662 179.447 62.7703 179.603 62.8656C179.759 62.9609 179.958 62.727 179.806 62.6013C179.516 62.363 179.161 62.1768 178.824 62.0165C178.655 61.9385 178.486 61.8648 178.313 61.7955C178.139 61.7262 177.94 61.6309 177.754 61.6396C177.663 61.6439 177.581 61.7739 177.668 61.8432Z" fill="#231F20"/>
						 <path d="M175.351 65.6599C175.433 65.6599 175.511 65.6253 175.589 65.6123C175.606 65.6123 175.641 65.6079 175.675 65.6036C175.714 65.6036 175.749 65.6036 175.788 65.6036C175.9 65.6123 176.074 65.6643 176.173 65.7162C176.312 65.7899 176.394 65.8549 176.498 65.9762C176.507 65.9848 176.507 65.9848 176.498 65.9762C176.502 65.9848 176.511 65.9892 176.515 65.9978C176.524 66.0152 176.537 66.0282 176.546 66.0455C176.567 66.0758 176.585 66.1105 176.602 66.1408C176.602 66.1495 176.611 66.1581 176.615 66.1668C176.611 66.1495 176.611 66.1538 176.615 66.1668C176.624 66.1841 176.628 66.2015 176.637 66.2188C176.65 66.2578 176.663 66.2968 176.671 66.3358C176.697 66.4354 176.81 66.496 176.905 66.4701C177.013 66.4397 177.057 66.3401 177.039 66.2361C176.974 65.8679 176.689 65.556 176.355 65.4C176.182 65.3177 176.004 65.27 175.814 65.27C175.719 65.27 175.623 65.2787 175.532 65.3003C175.442 65.322 175.325 65.3523 175.268 65.426C175.195 65.517 175.238 65.6513 175.364 65.6556L175.351 65.6599Z" fill="#231F20"/>
						 <path d="M133.953 23.8578C134.222 24.2347 134.694 24.2391 135.118 24.2434C135.819 24.2564 136.521 24.2434 137.227 24.2477C138.595 24.2477 139.963 24.2391 141.331 24.2347C144.102 24.2261 146.878 24.2087 149.649 24.1957C155.178 24.1654 160.707 24.1221 166.232 24.0831C169.346 24.0614 172.463 24.0528 175.576 24.0051C175.853 24.0008 175.853 23.5762 175.576 23.5762C170.138 23.5762 164.7 23.6542 159.261 23.6975C153.823 23.7408 148.385 23.7885 142.946 23.8535C141.435 23.8708 139.92 23.8881 138.409 23.9098C137.634 23.9185 136.859 23.9315 136.088 23.9445C135.711 23.9531 135.33 23.9575 134.953 23.9705C134.655 23.9791 134.326 23.9835 134.126 23.7235C134.048 23.6239 133.88 23.7538 133.953 23.8578Z" fill="#231F20"/>
						 <path d="M137.14 20.6779C137.088 20.4267 136.776 20.4786 136.603 20.5523C136.373 20.6519 136.179 20.8166 136.036 21.0245C135.728 21.4751 135.741 22.1162 136.248 22.4152C136.754 22.7141 137.413 22.6578 137.919 22.4542C138.426 22.2505 138.976 21.7697 138.755 21.1631C138.642 20.8512 138.339 20.6909 138.04 20.5956C137.677 20.4786 137.287 20.4137 136.906 20.4267C136.659 20.4353 136.659 20.7992 136.906 20.8079C137.153 20.8166 137.378 20.8339 137.612 20.8859C137.815 20.9292 138.036 20.9855 138.218 21.0938C138.629 21.3408 138.365 21.8173 138.053 22.0166C137.681 22.2549 137.205 22.3545 136.772 22.2895C136.594 22.2635 136.408 22.2029 136.274 22.0859C136.109 21.943 136.066 21.722 136.109 21.5141C136.153 21.3061 136.261 21.1155 136.412 20.9682C136.451 20.9292 136.889 20.6216 136.915 20.7429C136.945 20.8902 137.166 20.8252 137.135 20.6823L137.14 20.6779Z" fill="#231F20"/>
						 <path d="M141.136 20.4483C140.599 20.392 140.045 20.7386 139.915 21.2758C139.785 21.813 140.062 22.3545 140.573 22.5495C141.084 22.7444 141.721 22.5841 142.188 22.3329C142.422 22.2072 142.643 22.0253 142.725 21.7653C142.812 21.4924 142.704 21.2151 142.509 21.0159C142.275 20.7732 141.95 20.6389 141.634 20.5393C141.257 20.4223 140.863 20.3703 140.469 20.3877C140.249 20.4007 140.244 20.7386 140.469 20.7343C140.993 20.7343 141.543 20.8166 142.006 21.0635C142.175 21.1545 142.379 21.2888 142.422 21.4924C142.465 21.696 142.331 21.8563 142.18 21.969C141.838 22.2202 141.344 22.3675 140.924 22.3329C140.478 22.2982 140.136 21.9646 140.136 21.5054C140.136 20.9769 140.634 20.6129 141.136 20.6519C141.275 20.6606 141.27 20.4527 141.136 20.4397V20.4483Z" fill="#231F20"/>
						 <path d="M144.804 20.5783C144.392 20.5306 144.081 20.9422 144.081 21.3234C144.081 21.787 144.505 22.1249 144.912 22.2462C145.384 22.3892 145.981 22.3199 146.384 22.0209C146.575 21.8823 146.717 21.683 146.735 21.4404C146.752 21.1978 146.635 20.9855 146.471 20.8296C146.029 20.4093 145.319 20.3444 144.76 20.5306C144.544 20.6043 144.635 20.9422 144.856 20.8729C145.228 20.7559 145.67 20.7559 146.02 20.9379C146.302 21.0808 146.549 21.3928 146.289 21.683C145.843 22.1856 144.661 22.1899 144.358 21.5141C144.219 21.2065 144.431 20.7516 144.799 20.7862C144.934 20.7992 144.929 20.5956 144.799 20.5783H144.804Z" fill="#231F20"/>
						 <path d="M136.564 28.8876L136.451 28.8789L136.269 29.1172C137.322 29.2082 138.4 29.1735 139.456 29.1822C140.513 29.1908 141.582 29.1995 142.643 29.2038C142.95 29.2038 142.95 28.7273 142.643 28.723C141.582 28.7143 140.517 28.71 139.456 28.7056C138.395 28.7013 137.322 28.6536 136.269 28.7359C136.079 28.7489 136.018 28.9786 136.174 29.0869C136.313 29.1822 136.482 29.2168 136.637 29.1562C136.802 29.0912 136.741 28.8269 136.564 28.8832V28.8876Z" fill="#231F20"/>
						 <path d="M124.436 2.68601C123.726 2.98493 123.029 3.31852 122.345 3.6781C121.738 3.99435 121.089 4.31061 120.639 4.84781C119.807 5.83557 119.859 7.21756 120.08 8.41327C120.335 9.79093 120.855 11.1296 121.6 12.3166C122.345 13.5037 123.228 14.5564 124.522 15.0373C125.315 15.3319 126.185 15.4056 127.025 15.4142C127.908 15.4229 128.835 15.3536 129.692 15.124C130.021 15.033 129.878 14.5651 129.554 14.6214C128.125 14.864 126.644 15.0373 125.215 14.7037C123.925 14.4005 123.02 13.5124 122.28 12.4553C121.539 11.3982 120.989 10.1852 120.669 8.92015C120.392 7.82408 120.167 6.48108 120.747 5.44133C121.102 4.80882 121.751 4.45357 122.366 4.11565C123.089 3.71709 123.821 3.33151 124.535 2.91995C124.657 2.85063 124.574 2.62535 124.436 2.68601Z" fill="#231F20"/>
						 <path d="M124.102 2.66434C124.483 2.97193 124.864 3.28818 125.219 3.62177C125.523 3.90337 125.943 4.24562 126.055 4.66151C126.172 5.1034 125.752 5.45432 125.449 5.70126C125.094 5.99152 124.683 6.22546 124.258 6.39875C123.985 6.50706 124.107 6.95329 124.379 6.84065C124.882 6.63703 125.349 6.3641 125.765 6.01751C126.142 5.70559 126.553 5.28969 126.505 4.75682C126.458 4.22395 126.021 3.83405 125.652 3.50046C125.224 3.10623 124.765 2.75098 124.263 2.45639C124.137 2.38274 123.981 2.56903 124.102 2.66434Z" fill="#231F20"/>
						 <path d="M124.003 6.65004C123.704 7.62913 123.813 8.63855 124.189 9.57866C124.38 10.0595 124.631 10.5144 124.925 10.939C125.22 11.3636 125.536 11.7881 125.939 12.1044C126.294 12.3816 126.77 12.5679 127.203 12.3556C127.601 12.1564 127.748 11.7318 127.982 11.3852C128.246 10.9953 128.731 10.7787 129.199 10.822C129.454 10.8437 129.602 11.004 129.792 11.1643C130.017 11.3549 130.238 11.5498 130.429 11.7794C130.823 12.2473 131.126 12.8928 130.97 13.5167C130.84 14.0409 130.338 14.4308 129.792 14.3355C129.48 14.2835 129.35 14.7211 129.658 14.8164C130.654 15.124 131.507 14.1189 131.502 13.1918C131.502 12.6372 131.273 12.1044 130.948 11.6668C130.623 11.2293 130.169 10.7744 129.71 10.4538C129.342 10.2025 128.74 10.3021 128.355 10.4624C127.9 10.6531 127.606 10.9953 127.38 11.4242C127.281 11.6192 127.173 11.8574 126.965 11.9571C126.666 12.1 126.32 11.8791 126.094 11.6885C125.666 11.3246 125.311 10.8437 125.012 10.3715C124.324 9.28839 123.912 7.98005 124.181 6.69769C124.207 6.58072 124.033 6.52874 123.999 6.64571L124.003 6.65004Z" fill="#231F20"/>
						 <path d="M5.55127 7.48183L30.8896 7.66378V8.09701L5.55127 8.27896V7.48183Z" fill="#231F20"/>
						 <path d="M5.55127 12.4336L40.3027 11.8531V13.443L5.55127 12.8668V12.4336Z" fill="#231F20"/>
						 <path d="M5.55127 17.797C17.1293 17.2858 28.7247 17.2641 40.2984 17.797V18.2302C37.4017 18.3775 34.505 18.4815 31.6127 18.5291C22.9227 18.6764 14.237 18.6461 5.55127 18.2302V17.797Z" fill="#231F20"/>
						 <path d="M5.55127 22.8441L15.4796 22.7834V23.3423L5.55127 23.2773V22.8441Z" fill="#231F20"/>
						 <path d="M131.355 107.276C131.416 110.382 131.476 113.571 131.463 116.716L131.134 116.547C130.364 116.148 122.934 112.28 122.405 112.007C125.337 110.356 128.467 108.857 131.351 107.28L131.355 107.276ZM131.143 107.653C128.779 109.264 126.605 110.997 124.345 112.609L124.336 111.361L131.359 116.174L131.03 116.361C131.022 113.458 131.082 110.599 131.143 107.657V107.653Z" fill="#231F20"/>
						 <path d="M138.967 107.276C139.028 110.382 139.088 113.571 139.075 116.716L138.746 116.542C138.127 116.213 130.519 112.18 130.182 111.998C133.065 110.356 136.122 108.848 138.963 107.271L138.967 107.276ZM138.755 107.653C136.391 109.256 134.2 110.958 131.922 112.548L131.914 111.413L138.971 116.166L138.642 116.352C138.634 113.449 138.694 110.59 138.755 107.648V107.653Z" fill="#231F20"/>
						 <path d="M70 64.5C69.2 63.7 69 52.8333 69 47.5C81 42.3 94.8333 45.8333 100.5 48C100.833 47.6667 101.1 50.1 99.5 64.5C82.5 60 71 65.5 70 64.5Z" fill="#C8E2E2" stroke="black" stroke-width="0.005"/>
						 <path d="M81.5142 49.5915C81.6398 52.9447 81.761 56.2199 81.8173 59.5341L81.4882 59.3521L89.8319 53.9368L89.8405 54.9635C87.0564 53.2133 84.3589 51.3591 81.5099 49.5915H81.5142ZM81.2934 49.2189C84.5927 50.9605 88.0653 52.6414 91.395 54.4393C91.2564 54.5043 82.1594 59.4864 81.7091 59.7204L81.3886 59.8937C81.3064 56.3369 81.2977 52.7367 81.2891 49.2146L81.2934 49.2189Z" fill="#231F20"/>
						 <path d="M81.5 59.5V49.5L89 54.5L81.5 59.5Z" fill="white" stroke="black" stroke-width="0.005"/>
						 <path d="M115.318 61.2623C115.617 55.6452 114.445 51.0161 112.699 50.9231C110.953 50.83 109.296 55.3081 108.997 60.9253C108.698 66.5424 109.87 71.1715 111.616 71.2645C113.361 71.3576 115.019 66.8794 115.318 61.2623Z" fill="#231F20"/>
						 <path d="M114.308 61.2107C114.321 59.3954 114.135 57.5889 113.897 55.843C113.681 54.513 113.529 53.04 112.706 52.0132C112.641 51.9526 112.633 51.9483 112.637 51.9353C112.646 51.9266 112.615 51.9093 112.524 51.9483C110.498 53.4819 109.636 58.438 109.364 60.9507C109.134 63.6887 109.147 66.561 110.074 69.1734C110.351 69.8665 110.836 70.9106 111.62 70.9626C114.005 70.4037 114.282 63.3205 114.3 61.215L114.308 61.2107ZM116.322 61.319C116.123 63.2382 115.768 65.14 115.148 66.9769C114.659 68.3546 114.114 69.7756 113.092 70.876C110.433 73.4103 109.251 68.4845 108.991 66.5653C108.389 62.636 108.112 52.858 111.533 50.2803C113.356 49.115 114.949 50.9778 115.503 52.5548C116.638 55.3621 116.616 58.4034 116.33 61.3233L116.322 61.319Z" fill="#231F20"/>
						 <path d="M110.979 68.6838C109.316 70.7287 106.796 71.4392 104.35 72.102C101.752 72.8082 99.1019 73.3324 96.4217 73.6313L96.6122 75.0349C97.0279 74.9353 97.4436 74.84 97.8592 74.7404C98.6646 74.5497 98.4697 73.3324 97.6687 73.3237C96.5776 73.3064 95.6077 73.6789 94.7634 74.3548C94.2135 74.7923 94.7244 75.5592 95.283 75.6111C96.4434 75.7151 97.5518 75.2949 98.4048 74.5194C98.8334 74.1295 98.5953 73.419 98.0757 73.2674C97.292 73.0378 96.4477 73.0378 95.677 73.3064C94.9063 73.575 93.8801 74.2161 94.391 75.1562C94.7807 75.8754 95.8155 75.8581 96.5126 75.7541C97.3396 75.6328 98.0714 75.2516 98.6776 74.684C99.1019 74.2898 98.8767 73.5706 98.3442 73.419C97.2877 73.1158 96.1836 73.2457 95.244 73.8176C94.43 74.3115 95.1487 75.5375 95.9887 75.0913C96.6079 74.762 97.2704 74.6884 97.9415 74.8833L97.6081 73.6183C97.3396 73.8652 97.0366 74.0559 96.6858 74.1685C96.3351 74.2811 96.019 74.2075 95.6943 74.2811C95.4302 74.2421 95.4648 74.4544 95.7982 74.9136C95.8891 74.8617 95.9801 74.814 96.0753 74.775C96.2312 74.71 96.4001 74.6667 96.5646 74.6364C96.9413 74.5714 97.3093 74.6104 97.673 74.7144L97.344 73.4623C96.7681 73.9995 96.058 74.2075 95.2786 74.1468L95.7982 75.4032C96.3308 74.97 96.9846 74.775 97.6644 74.7793L97.4739 73.3627C97.0582 73.4667 96.6469 73.5663 96.2312 73.6703C95.4691 73.8566 95.6077 75.1779 96.4217 75.0739C99.2881 74.723 102.128 74.1642 104.895 73.3324C107.454 72.5656 110.087 71.6948 111.788 69.507C112.234 68.9351 111.446 68.1163 110.979 68.6968V68.6838Z" fill="#231F20"/>
					  </g>
					  <defs>
						 <clipPath id="clip0_219_2">
							<rect width="197" height="132" fill="white"/>
						 </clipPath>
					  </defs>
				   </svg>
				</div>
			 </div>
			{
				isFallback && (
					<div lang={bcpLang} dir={direction}>
						<FallbackNotice />
					</div>
				)
			}
			<slot />
		</section>
		
	</article>
	  </footer>

</div>

<style>
	.fixed-mobile-bar {
		display: block;
		position: sticky;
		inset-inline: 0;
		top: calc(var(--theme-navbar-height) - 4px);
		z-index: 2;
		margin-bottom: 3rem;
	}

	.spacer {
		height: var(--theme-mobile-toc-height);
	}

	.content{
			margin-top: var(--theme-navbar-height);
		}

	@media (min-width: 50em) {
		.fixed-mobile-bar {
			margin-top: 0;
			/*inset-inline-start: var(--theme-left-sidebar-width);*/
		}
	}

	@media (min-width: 64em) {
		.fixed-mobile-bar{
			inset-inline-start: 17.4rem;
		}
		
		.spacer {
			height: 0;
		}
	}

	@media (min-width: 80em){
		.fixed-mobile-bar {
			display: none;
		}
	}

	@media (max-width: 80em){
		.content {
			margin-top: 0 !important;
		}
	}

	.content-title :global(.scope) {
		font-weight: 300;
		color: var(--theme-text-lighter);
	}
	.content {
		padding-top: var(--doc-padding-block);
		padding-bottom: var(--doc-padding-block);
		padding-inline: var(--min-spacing-inline);
		/*width: 100%;*/
		height: 100%;
		min-width: calc(100% - 20rem);
		max-width: 1024px;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		margin-top: calc(var(--theme-navbar-height) + 3.5rem);
		background-color: var(--content-bg);
		border-radius: var(--theme-border-radius);
		border: thin solid rgba(123,123,123,.2);
	}
	.content > section {
		margin-bottom: 4rem;
	}
	.next-previous-nav {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		gap: 1rem;
		margin-bottom: 1.5rem;

	}

</style>
