---
import { normalizeLangTag } from '../../i18n/bcp-normalize';
import { rtlLanguages } from '../../i18n/languages';
import { getLanguageFromURL } from '../../util';
import FallbackNotice from '../FallbackNotice.astro';
import ArticleNavigationButton from './ArticleNavigationButton.astro';

export interface Props {
	content: { title: string };
	previous?: { text: string; link: string };
	next?: { text: string; link: string };
}

const { content, previous, next } = Astro.props;
// We wrap `@astrojs/` in a span to style it separately on integration pages.
const title = content.title
	.replace('@astrojs/', '<span class="scope">@astrojs/</span><wbr>')
	.replaceAll('-', '&#8288;-&#8288;');
const isFallback = !!Astro.params.fallback || undefined;
const lang = getLanguageFromURL(Astro.url.pathname);
const bcpLang = normalizeLangTag(lang);
const direction = rtlLanguages.has(lang) ? 'rtl' : 'ltr';
---


<div dir={isFallback ? 'ltr' : direction} lang={isFallback && 'en'}>
	{
		// For best cross-browser support of sticky or fixed elements, they must not be nested
		// inside elements that hide any overflow axis. The article hides `overflow-x`,
		// so we must place fixed UI elements like the mobile TOC here.
		Astro.slots.has('before-article') && (
			<>
			<div class="fixed-mobile-bar" dir={direction}>
				<slot name="before-article" />
			</div>
			</>
		)
	}
	<article id="article" class="content full">
	
		<section class="main-section">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-4 pb-0 justify-between items-center mt-0 landing-hero">
				<header class="col-span-2">
					<slot name="before-title" />
					<h1 class="content-title text-center md:text-left pt-5 md:pt-0" id="overview" set:html={title}></h1>
					<p>Deploy, manage and customize OpenReplay through quickstarts, tutorials, and guides. Learn more about our SDK and API references.</p>
					<slot name="after-title" />
				</header>
				<div class="flex justify-center xl:justify-end mt-4 sm:mt-0">
					<svg width="303" height="172" viewBox="0 0 303 172" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_463_504)">
						<path d="M244.014 138.603C242.299 112.512 242.642 86.0898 242.726 59.977C242.907 34.4996 243.202 6.73485 244.014 -18.6487H245.49C246.586 16.9032 246.815 53.8887 246.866 89.4627C246.815 105.747 246.578 122.349 245.49 138.603H244.014Z" fill="#222222"/>
						<path d="M262.381 39.3991C262.381 39.3991 275.442 -2.23912 287.728 5.1138C301.572 13.3964 262.381 39.3991 262.381 39.3991L244.752 58.5802Z" fill="#91CCB3"/>
						<path d="M261.676 39.1813C265.351 29.3492 271.881 12.3375 280.05 5.88845C281.622 4.70047 283.625 3.81133 285.636 4.1692C287.599 4.54551 289.436 5.79621 290.34 7.604C292.336 12.0755 287.805 17.5026 285.053 20.7345C278.57 27.9288 270.291 34.3372 262.661 39.661C258.765 43.9517 253.478 49.8842 249.615 54.2082L245.294 59.0818L244.209 58.082L248.703 53.367C252.695 49.1463 258.145 43.3946 262.1 39.1444C270.712 33.2673 285.396 22.7157 289.728 13.3004C290.473 11.5701 290.908 9.50034 290.056 7.74051C288.779 5.18377 285.488 3.70064 282.773 4.76687C277.788 6.67797 274.073 13.2967 271.634 17.8309C268.933 23.0366 266.753 28.5006 264.853 34.0457C264.218 35.8904 263.617 37.7609 263.089 39.6241L261.68 39.1813H261.676Z" fill="#222222"/>
						<path d="M230.281 81.089C230.281 81.089 204.008 65.1251 213.287 60.0375C221.522 55.5217 230.281 81.089 230.281 81.089L244.752 97.1562Z" fill="#91CCB3"/>
						<path d="M229.898 81.7199C225.765 78.8311 221.74 75.8538 217.973 72.5112C216.121 70.8252 214.291 69.0764 212.83 67.0178C211.808 65.5162 210.66 63.5498 211.461 61.694C212.343 59.9784 214.512 59.0413 216.372 59.5246C219.969 60.6093 222.319 64.3688 224.275 67.3461C226.906 71.6479 229.02 76.1969 230.979 80.8492C230.982 80.8566 230.828 80.5946 230.831 80.5983L245.302 96.6656L244.206 97.6543L229.735 81.5871L229.636 81.4764L229.584 81.3325C227.776 75.4295 225.415 69.5413 221.866 64.45C220.128 62.1404 217.722 59.1815 214.509 59.7017C207.041 62.0703 215.066 69.5191 218.301 72.1386C222.139 75.293 226.334 78.06 230.669 80.4618L229.901 81.7236L229.898 81.7199Z" fill="#222222"/>
						<path d="M244.125 33.6313C242.232 30.0194 239.967 26.175 237.856 22.6701C235.65 19.0767 233.518 15.45 230.765 12.2218L232.016 11.4397C234.13 16.2469 237.185 20.6373 240.004 25.0461C241.694 27.5955 243.572 30.3957 245.38 32.8491L244.129 33.6313H244.125Z" fill="#222222"/>
						<path d="M155.204 29.4175C155.204 29.4175 127.078 31.9501 122.698 60.0392V99.8429H145.026L149.671 123.125H198.735L200.582 71.3416C201.456 46.8535 180.629 27.0115 156.203 29.3162C155.873 29.3484 155.541 29.3807 155.207 29.4175H155.204Z" fill="white"/>
						<path d="M155.038 29.4781C147.435 30.4152 139.627 34.1764 133.852 39.221C127.808 44.4704 125.1 52.5214 123.857 59.6334C123.606 71.1108 123.765 88.1162 123.159 99.4371L122.698 98.9766H145.026H145.404L145.478 99.3473L150.123 122.629L149.671 122.258C149.671 122.258 198.733 122.258 198.735 122.258L198.274 122.703C198.389 108.046 199.166 91.8231 199.461 77.0786C199.5 75.7847 199.546 72.6074 199.581 71.3641C200.06 57.4692 192.534 42.8941 180.804 35.4897C173.321 30.6616 163.9 28.5411 155.04 29.4781H155.038ZM155.038 27.3701C168.064 25.6157 181.723 30.3011 190.751 40.0378C198.615 48.3748 202.79 59.9535 202.089 71.371C202.036 72.5867 201.861 75.8238 201.801 77.0786C200.999 91.8254 200.162 108.078 199.191 122.735L199.162 123.191L198.73 123.179C198.73 123.179 149.669 123.179 149.666 123.179H149.288L149.215 122.809L144.569 99.5269L145.021 99.8976H122.693H122.232V99.4371C121.626 88.1646 121.785 71.074 121.533 59.6334C122.596 51.3794 126.419 43.3441 132.632 37.6894C138.824 32.0693 146.778 28.5328 155.033 27.3701H155.038Z" fill="#222222"/>
						<path d="M131.245 88.8839L130.23 65.9526C148.9 74.0699 167.502 72.3111 174.469 70.4171V93.1454C150.117 99.4769 135.506 92.9425 131.245 88.8839Z" fill="#2DB3B9"/>
						<path d="M155.501 30.6563C153.316 30.5665 151.139 31.3654 149.242 32.3946C144.403 35.0101 140.435 39.3179 140.002 44.9886C139.884 46.0661 139.956 47.1552 140.048 48.2373L140.032 48.1498C140.073 48.2787 140.143 48.456 140.21 48.6126C142.637 53.816 148.378 56.4223 153.807 57.3271C156.684 57.8267 159.672 57.9188 162.588 57.7807C165.528 57.6379 168.474 57.2626 171.37 56.7331C174.118 56.2082 176.681 54.7692 178.505 52.6832C180.321 50.6203 181.327 47.915 181.41 45.1958C181.633 41.0239 179.245 37.3171 176.264 34.5059C175.238 33.4905 174.092 32.5719 172.956 31.5772L173.262 31.0293C179.888 33.2948 185.154 39.2166 183.789 46.5612C182.777 52.5428 177.661 57.5136 171.685 58.4737C165.707 59.4131 159.54 59.8252 153.56 58.674C147.661 57.5574 141.252 54.3824 139.027 48.4376C138.628 44.9725 139.297 41.3371 141.182 38.3716C144.143 33.5895 148.56 31.568 153.311 29.0607C153.786 28.8052 154.436 28.4345 154.911 28.1743L155.508 30.654L155.501 30.6563Z" fill="#222222"/>
						<path d="M124.706 53.65C124.789 55.7843 125.28 57.921 126.269 59.8158C127.986 62.9517 130.871 65.3438 134.117 66.891C135.364 67.5035 136.699 67.9824 138.036 68.3738C145.238 70.5196 152.85 71.0238 160.345 71.063C162.187 71.063 164.154 71.0353 165.984 70.9709C177.228 70.4528 189.313 64.2571 193.094 53.1297C193.553 51.8196 193.915 50.4819 194.604 49.2571L195.515 49.409C195.775 51.4052 195.153 53.3277 194.392 55.1374C192.19 60.6101 187.757 65.0261 182.673 67.8465C176.755 71.185 169.924 72.5641 163.179 72.3293C160.984 72.3293 158.257 72.2533 156.06 72.1244C147.988 71.6708 139.816 70.6232 132.339 67.3469C128.727 65.855 124.999 63.3477 123.611 59.4797C122.898 57.5226 122.822 55.2433 123.825 53.3714L124.704 53.65H124.706Z" fill="#222222"/>
						<path d="M123.719 80.9908C129.609 87.9256 138.107 93.7023 147.269 94.9318C148.56 95.0975 149.971 95.1459 151.271 95.116C153.457 95.1758 155.668 95.1321 157.865 95.0031C169.751 94.2986 182.844 91.6624 192.856 84.9624C193.456 84.5825 194.267 83.9471 194.82 83.5534C195.646 82.8857 196.49 82.2042 197.253 81.4674C198.046 80.756 198.749 79.9571 199.464 79.1812L201.322 80.954C198.004 84.0599 194.189 86.5304 190.115 88.469C177.995 94.0453 164.509 95.8757 151.273 95.8711C144.5 96.2303 137.563 93.7552 131.705 90.2809C128.434 88.3308 125.337 86.0837 122.479 83.5603C122.214 83.3208 121.962 83.0998 121.679 82.8281L123.719 80.9862V80.9908Z" fill="#222222"/>
						<path d="M175.762 70.3148C175.114 74.1114 175.029 77.9265 175.065 81.7553C175.123 85.5727 175.282 89.397 175.805 93.1844L173.565 93.2005C173.694 92.2473 173.777 91.2941 173.85 90.3386C174.192 85.5796 174.249 80.8068 173.966 76.0431C173.827 74.1391 173.65 72.2327 173.281 70.3309L175.762 70.3125V70.3148Z" fill="#222222"/>
						<path d="M131.463 65.1782C130.921 66.1775 130.762 67.2043 130.718 68.2864C130.672 69.311 130.635 70.3356 130.631 71.3601C130.735 77.4937 131.272 83.6157 132.141 89.6917L130.31 89.7884C130.502 85.6925 130.41 81.6057 130.262 77.5167C130.156 74.4499 129.958 71.3878 129.453 68.3532C129.294 67.2826 129.026 66.2788 128.383 65.3417L131.461 65.1782H131.463Z" fill="#222222"/>
						<path d="M195.058 88.4139C195.058 88.4139 188.169 89.3786 183.328 101.531C178.487 113.683 179.277 123.122 179.277 123.122H208.881C208.881 123.122 207.016 85.4761 195.056 88.4139H195.058Z" fill="white"/>
						<path d="M195.351 89.9288C194.735 90.0163 194 90.3317 193.419 90.6172C191.36 91.6832 189.686 93.3202 188.227 95.1598C186.253 97.7523 184.822 100.676 183.628 103.715C182.422 106.791 181.456 109.983 180.792 113.222C180.123 116.445 179.674 119.8 179.738 123.083L179.279 122.662H208.883C208.883 122.662 208.42 123.15 208.422 123.143C207.779 118.158 206.974 113.187 205.9 108.283C204.701 103.041 202.62 94.5589 198.726 90.859C197.741 89.9794 196.602 89.6387 195.348 89.9265L195.351 89.9288ZM194.767 86.9011C199.198 85.7523 202.541 89.1805 204.323 92.7953C208.316 101.045 209.34 113.95 209.342 123.102L209.368 123.585H208.883H179.279L178.858 123.599L178.818 123.164C177.899 112.313 182.671 90.159 194.765 86.9035L194.767 86.9011Z" fill="#222222"/>
						<path d="M122.698 91.3677C122.698 91.3677 115.09 92.0423 110.018 98.9494L122.698 99.8428" fill="white"/>
						<path d="M122.781 92.3119C119.791 92.6158 116.883 93.7808 114.403 95.4592C113.414 96.1477 112.443 96.9627 111.609 97.8353C111.214 98.2106 110.756 98.8115 110.389 99.2213L110.05 98.4892L122.73 99.3825L122.665 100.301L109.986 99.4078L109.112 99.3457C109.679 98.678 110.262 97.7916 110.834 97.1354C111.666 96.15 112.632 95.2221 113.64 94.4232C115.173 93.2213 116.932 92.2175 118.744 91.4991C119.996 91.0133 121.28 90.615 122.615 90.4216L122.783 92.3096L122.781 92.3119Z" fill="#222222"/>
						<path d="M156.442 39.7781C155.269 39.7781 154.365 38.7443 154.526 37.5839C155.453 30.884 159.598 10.7312 176.412 3.8609C180.882 2.0351 184.4 1.38123 187.171 1.47562C195.007 1.7381 199.122 10.9522 194.129 16.9891C190.885 20.9078 184.866 25.2408 174.519 23.8203C156.585 21.359 156.442 39.7781 156.442 39.7781Z" fill="white"/>
						<path d="M156.442 40.2387C154.907 40.3009 153.69 38.8182 153.973 37.3285L154.028 36.8289C154.515 32.832 155.4 28.9018 156.7 25.0798C158.881 18.6677 162.349 12.5456 167.428 7.95468C167.681 7.74056 168.359 7.14884 168.606 6.94163C168.871 6.7229 169.565 6.20947 169.839 5.99305C171.234 4.9823 172.746 4.08437 174.286 3.30847C178.992 1.13501 185.59 -1.19039 190.747 0.697561C198.122 3.48805 200.215 13.0314 194.613 18.6239C190.687 22.8649 185.26 25.0729 179.515 25.1097C178.551 25.1328 177.382 25.0637 176.423 24.9854C173.855 24.6608 171.273 24.198 168.691 24.5687C166.837 24.8381 164.993 25.4436 163.435 26.4889C159.246 29.2794 157.323 34.4597 156.926 39.3132L156.913 39.5526L156.908 39.67L156.906 39.7299V39.7575C156.7 39.9693 157.364 39.3201 156.445 40.241L156.442 40.2387ZM156.442 39.3178C155.52 40.218 156.186 39.548 155.981 39.7391C155.986 39.6217 155.99 39.3776 156 39.2533C156.405 32.5465 159.559 25.6439 166.429 23.5487C166.722 23.4612 167.139 23.3162 167.434 23.2609C168.419 23.0284 169.516 22.8511 170.519 22.8097C172.548 22.6462 174.551 22.9363 176.564 23.0629C177.124 23.0537 177.929 23.1067 178.48 23.0675C178.798 23.0445 179.596 23.0146 179.907 22.9846C180.22 22.9478 180.997 22.8488 181.318 22.8097C181.601 22.7521 182.427 22.5978 182.706 22.5403C183.044 22.4643 183.727 22.2617 184.063 22.1788C187.01 21.2648 189.728 19.6071 191.858 17.376C193.055 16.1304 194.145 14.7168 194.551 13.0107C195.662 8.92398 193.055 4.24323 188.909 3.20486C184.827 2.22634 179.252 4.10279 175.476 5.77202C174.06 6.45352 172.668 7.23864 171.379 8.13427C171.116 8.32076 170.482 8.79505 170.229 8.97464C170 9.16113 169.359 9.67686 169.12 9.87257C162.215 15.815 158.273 24.4697 156.057 33.1681C155.737 34.4367 155.46 35.7168 155.218 37.0062C155.167 37.3147 155.08 37.6946 155.077 37.8857C155.05 38.6294 155.684 39.2901 156.442 39.3155V39.3178Z" fill="#222222"/>
						<path d="M54.8792 123.125H245.132C246.81 123.125 248.437 123.693 249.749 124.738L302.29 166.64" fill="#FFF5ED"/>
						<path d="M54.8792 123.123C54.8792 122.715 55.2038 122.384 55.6117 122.383C113.416 122.198 187.188 122.093 244.557 122.084C246.476 122.001 248.433 122.505 249.998 123.636C262.452 133.524 277.626 145.748 290.016 155.733L302.177 165.596C302.494 165.854 302.545 166.319 302.289 166.639V166.639C302.034 166.958 301.57 167.012 301.248 166.76L288.925 157.098C276.582 147.382 261.449 135.373 249.168 125.595C247.884 124.529 246.213 124.078 244.56 124.163H243.534C186.664 124.147 112.886 124.058 55.6113 123.864C55.2034 123.862 54.8792 123.531 54.8792 123.123V123.123Z" fill="#222222"/>
						<path d="M2.39269 165.348L300.31 166.999C301.088 167.003 301.426 166.017 300.809 165.543L245.901 123.382H55.3487L1.90685 163.89C1.28865 164.358 1.61698 165.344 2.39269 165.348Z" fill="#E7DDD6" stroke="#222222" stroke-width="0.405862"/>
						<path d="M2 165.586L302.29 166.586L301.29 171.915L4 170.915L2 165.586Z" fill="#222222"/>
						<path d="M197.013 141.099L191.208 154.398C190.537 155.938 191.664 157.66 193.347 157.66H221.921C223.209 157.66 224.254 156.617 224.254 155.33V142.031C224.254 140.744 223.209 139.701 221.921 139.701H199.152C198.223 139.701 197.384 140.252 197.013 141.101V141.099Z" fill="#F0C3BA"/>
						<path d="M197.889 141.481C196.487 144.633 194.403 149.033 193.027 152.143C192.854 152.553 192.296 153.741 192.126 154.146L191.978 154.483C191.584 155.185 191.711 156.087 192.365 156.585C192.665 156.833 193.059 156.928 193.444 156.918C193.548 156.916 193.882 156.919 193.993 156.914C194.408 156.919 197.17 156.882 197.659 156.882C205.723 156.81 213.787 156.624 221.852 156.499C222.239 156.504 222.594 156.331 222.818 156.021C222.961 155.827 223.03 155.597 223.027 155.362C222.974 151.775 222.917 145.816 222.905 142.218C222.956 141.502 222.467 140.995 221.741 141.055H221.374C217.068 141.046 212.473 140.963 208.178 140.873C206.251 140.834 201.248 140.733 199.381 140.705L199.199 140.703C198.654 140.671 198.122 140.984 197.891 141.481H197.889ZM196.137 140.719C196.633 139.515 197.889 138.686 199.196 138.7L199.378 138.697L202.311 138.647C205.776 138.598 210.627 138.456 214.041 138.423C215.5 138.398 218.446 138.357 219.906 138.354C220.431 138.366 221.69 138.327 222.211 138.361C223.973 138.472 225.496 139.984 225.591 141.75C225.616 144.902 225.533 150.78 225.501 153.932L225.473 155.431C225.434 156.928 224.351 158.302 222.905 158.691C222.58 158.783 222.179 158.832 221.852 158.82C212.819 158.678 203.761 158.47 194.726 158.413C194.47 158.406 193.716 158.408 193.444 158.401C192.075 158.443 190.754 157.496 190.403 156.163C190.217 155.549 190.249 154.867 190.473 154.271L191.628 151.533C192.921 148.409 194.83 143.892 196.139 140.719H196.137Z" fill="#222222"/>
						<path d="M203.04 137.16L197.235 150.458C196.564 151.999 197.692 153.721 199.375 153.721H227.948C229.237 153.721 230.281 152.678 230.281 151.391V138.092C230.281 136.805 229.237 135.762 227.948 135.762H205.18C204.251 135.762 203.411 136.312 203.04 137.162V137.16Z" fill="#F0C3BA"/>
						<path d="M203.916 137.542C202.515 140.694 200.431 145.094 199.054 148.204C198.881 148.614 198.323 149.802 198.153 150.207L198.005 150.543C197.611 151.246 197.738 152.148 198.393 152.645C198.692 152.894 199.087 152.988 199.472 152.979C199.575 152.977 199.91 152.979 200.02 152.975C200.435 152.979 203.197 152.942 203.686 152.942C211.75 152.871 219.815 152.685 227.879 152.56C228.266 152.565 228.621 152.392 228.845 152.081C228.988 151.888 229.057 151.658 229.055 151.423C229.002 147.836 228.944 141.877 228.933 138.279C228.983 137.563 228.494 137.056 227.768 137.116H227.402C223.095 137.107 218.501 137.024 214.206 136.934C212.278 136.895 207.275 136.794 205.408 136.766L205.226 136.764C204.682 136.731 204.149 137.044 203.919 137.542H203.916ZM202.164 136.78C202.66 135.576 203.916 134.747 205.224 134.761L205.406 134.758L208.338 134.708C211.803 134.659 216.654 134.516 220.068 134.484C221.528 134.459 224.474 134.417 225.933 134.415C226.459 134.427 227.718 134.388 228.239 134.422C230 134.533 231.524 136.045 231.618 137.811C231.644 140.963 231.561 146.841 231.528 149.993L231.501 151.492C231.462 152.989 230.378 154.363 228.933 154.752C228.607 154.844 228.206 154.893 227.879 154.881C218.846 154.738 209.788 154.531 200.753 154.474C200.497 154.467 199.744 154.469 199.472 154.462C198.102 154.503 196.781 153.557 196.431 152.224C196.244 151.609 196.276 150.928 196.5 150.332L197.655 147.594C198.948 144.47 200.857 139.952 202.167 136.78H202.164Z" fill="#222222"/>
						<path d="M193.17 157.66C193.17 158.947 194.214 159.99 195.503 159.99H221.921C223.209 159.99 224.254 158.947 224.254 157.66" fill="white"/>
						<path d="M193.17 157.66C193.17 158.947 194.214 159.99 195.503 159.99H221.921C223.209 159.99 224.254 158.947 224.254 157.66" stroke="#222222" stroke-width="2.60158" stroke-miterlimit="10"/>
						<path d="M45.8121 126.463C45.8121 126.463 39.3915 87.2463 43.4099 81.7597C47.4282 76.2731 45.8121 126.463 45.8121 126.463Z" fill="#64D289"/>
						<path d="M45.8488 127.036C45.7174 127.068 45.3647 126.919 45.284 126.684C45.1964 126.417 45.2517 126.56 45.2332 126.511L45.224 126.467C45.1572 126.127 45.035 125.501 44.9681 125.148C43.6448 118.121 42.5636 111.016 41.7797 103.911C41.2794 98.7169 39.7279 85.3653 42.3031 81.1934C43.4696 79.3745 45.3393 79.9939 45.8949 81.8772C46.3836 83.3692 46.5312 84.868 46.6995 86.3715C46.8908 88.3055 47.0038 90.2234 47.0799 92.1412C47.2159 95.9678 47.2574 99.7875 47.2182 103.612C47.1514 110.986 46.8978 118.407 46.4321 125.768L46.409 126.124L46.3975 126.304L46.3906 126.392C46.386 126.661 46.1116 126.992 45.8465 127.039L45.8488 127.036ZM45.775 125.887C45.6298 125.841 45.4131 125.938 45.3232 126.069C45.2678 126.143 45.2471 126.217 45.2402 126.267C45.2355 126.304 45.2379 126.299 45.2379 126.288V126.265C45.2379 126.161 45.2379 125.839 45.2355 125.731C45.2355 125.316 45.2217 124.032 45.2194 123.59C45.1318 113.335 45.1733 102.474 44.6822 92.2472C44.5831 90.3615 44.4701 88.4735 44.2742 86.6201C44.1751 85.6969 44.0575 84.7736 43.8846 83.901C43.7716 83.3553 43.6448 82.7544 43.4143 82.3423C43.6287 82.6002 44.1843 82.6554 44.4494 82.4321C44.4586 82.4298 44.4701 82.4114 44.4586 82.4275C44.4471 82.4367 44.4056 82.4897 44.371 82.5495C44.0713 83.0261 43.9399 83.5372 43.8039 84.1313C43.6171 84.9693 43.5088 85.8765 43.4373 86.7882C43.2921 88.6209 43.2921 90.4973 43.3174 92.3761C43.5803 102.776 44.8505 113.197 46.0448 123.537C46.1139 124.124 46.2661 125.42 46.3421 126.014L46.3652 126.191L46.3767 126.279L46.3813 126.322C46.3652 126.288 46.4228 126.447 46.3375 126.194C46.2592 125.972 45.9087 125.839 45.7796 125.885L45.775 125.887Z" fill="#222222"/>
						<path d="M46.8978 127.255C46.8978 127.255 45.812 100.446 51.1144 97.9133C56.4169 95.3807 46.8978 127.255 46.8978 127.255Z" fill="#D5F2E1" stroke="#222222" stroke-width="2.02931" stroke-miterlimit="10"/>
						<path d="M47.8501 127.255C47.8501 127.255 56.8781 105.281 58.4919 110.577C60.1057 115.872 47.8501 127.255 47.8501 127.255Z" fill="#D5F2E1" stroke="#222222" stroke-width="2.02931" stroke-miterlimit="10"/>
						<path d="M45.812 126.463C45.812 126.463 28.2908 88.0129 26.2159 99.0644C24.1411 110.116 45.812 126.463 45.812 126.463Z" fill="#D5F2E1" stroke="#222222" stroke-width="2.02931" stroke-miterlimit="10"/>
						<path d="M46.9648 127.154C46.9648 127.154 28.7705 109.844 28.1849 112.513C27.5993 115.181 46.9648 127.154 46.9648 127.154Z" fill="white" stroke="#222222" stroke-width="2.02931" stroke-miterlimit="10"/>
						<path d="M33.9553 129.91C35.3339 134.519 38.1927 143.685 39.3016 147.23C39.5713 148.094 40.3713 148.679 41.275 148.679H51.7993C52.786 148.679 53.6367 147.981 53.828 147.014L57.2423 129.716C57.4936 128.441 56.5161 127.253 55.2136 127.253H35.938C34.5547 127.253 33.5611 128.583 33.9576 129.91H33.9553Z" fill="white"/>
						<path d="M34.8314 129.65C35.6475 132.438 36.6849 136.343 37.5425 139.071C38.2918 141.534 39.1886 144.194 39.9817 146.655L40.0762 146.945C40.2237 147.417 40.6618 147.769 41.1551 147.795C43.4698 147.762 47.6126 147.629 49.9664 147.569L51.1929 147.534L51.8015 147.516C52.2073 147.493 52.5623 147.171 52.6107 146.77C53.1018 143.823 53.8142 139.782 54.3421 136.881C54.7709 134.501 55.2758 131.887 55.73 129.5L55.7438 129.424V129.401C55.8037 129.104 55.5686 128.795 55.2666 128.77C55.2758 128.765 54.983 128.763 54.7963 128.761C48.7837 128.71 42.4093 128.445 36.3829 128.268L36.0763 128.259L35.9287 128.254C35.2117 128.213 34.6377 128.952 34.8314 129.645V129.65ZM33.0792 130.172C32.4499 128.199 34.0083 126.189 36.0786 126.247C36.2515 126.237 36.814 126.228 36.9984 126.219C42.6098 126.06 48.5901 125.8 54.1853 125.752C54.6856 125.756 54.9553 125.717 55.5571 125.758C57.3599 125.894 58.8584 127.552 58.8008 129.359C58.8031 129.654 58.7501 129.953 58.6901 130.241L58.1991 132.643C57.2723 137.273 56.1311 142.391 55.096 147.026C54.983 147.62 54.7548 148.2 54.3582 148.663C53.7427 149.415 52.7813 149.855 51.8131 149.839L51.1952 149.823L49.9687 149.788L45.0582 149.653L42.6029 149.59C42.3147 149.574 41.2681 149.579 40.9799 149.54C39.9678 149.434 39.0433 148.752 38.6422 147.822C38.4877 147.461 38.3633 146.929 38.2434 146.551L37.5564 144.196C36.2699 139.644 34.6008 134.676 33.0792 130.17V130.172Z" fill="#222222"/>
						<path d="M74.6105 99.8428H151.501C153.543 99.8428 155.296 101.298 155.667 103.303L161.566 135.062C161.67 135.617 162.154 136.018 162.717 136.018H184.782C185.893 136.018 186.379 137.418 185.508 138.106L164.828 154.416C164.621 154.58 164.365 154.667 164.102 154.667H87.1612C86.6194 154.667 86.1491 154.296 86.0223 153.769L73.4716 101.284C73.2964 100.55 73.8543 99.8428 74.6105 99.8428Z" fill="white"/>
						<path d="M74.6106 98.6917C100.249 98.5444 125.888 98.1622 151.526 98.2289C153.237 98.2289 154.922 99.0279 156.001 100.349C156.651 101.125 157.075 102.085 157.255 103.078C158.717 111.039 161.546 126.647 163.007 134.749C163.012 134.777 163.016 134.802 163.014 134.786C162.993 134.699 162.933 134.623 162.855 134.584C162.82 134.567 162.784 134.556 162.744 134.554C162.719 134.549 162.701 134.554 162.754 134.554C166.832 134.574 174.624 134.639 178.758 134.669L183.5 134.706L184.685 134.715C184.738 134.713 185.001 134.724 185.188 134.749C185.393 134.791 185.596 134.839 185.789 134.934C187.495 135.673 187.758 138.118 186.211 139.181C186.165 139.218 185.919 139.409 185.861 139.453C180.033 143.945 172.001 150.24 166.205 154.713C165.829 154.983 165.446 155.363 165.02 155.549C164.529 155.795 163.904 155.736 163.408 155.736L162.223 155.726L143.254 155.581C126.665 155.469 105.236 155.393 88.722 155.409L87.537 155.411H87.2396C86.359 155.455 85.5037 154.833 85.2985 153.97C81.9349 140.206 77.5431 122.494 74.1264 108.693L72.9922 104.095L72.425 101.795C72.3536 101.51 72.2775 101.197 72.3028 100.893C72.3374 99.6979 73.4117 98.671 74.6083 98.6894L74.6106 98.6917ZM74.6106 100.994C74.599 100.994 74.6036 100.99 74.5875 100.999L74.5806 101.008C74.5783 101.008 74.5806 101.013 74.5806 101.017C74.5783 101.013 74.5806 101.022 74.5875 101.054L74.6036 101.125L74.6359 101.27L75.1708 103.577C78.652 118.557 82.8686 137.068 86.3797 152.029L86.6518 153.18L86.7209 153.468L86.7532 153.601C86.7578 153.62 86.7624 153.636 86.7693 153.652C86.8316 153.813 86.9953 153.926 87.1705 153.924C97.508 153.958 113.798 153.891 124.292 153.857C134.349 153.799 153.361 153.693 163.413 153.599L164.005 153.594C164.171 153.59 164.082 153.601 164.144 153.581C170.147 148.796 178.253 142.257 184.279 137.448L184.51 137.264L184.625 137.171L184.683 137.125C184.706 137.107 184.722 137.093 184.713 137.098C184.715 137.098 184.685 137.116 184.678 137.144C184.662 137.208 184.657 137.222 184.678 137.252C184.687 137.266 184.71 137.296 184.738 137.307C184.757 137.307 184.763 137.323 184.775 137.319C184.766 137.33 184.83 137.319 184.685 137.321L183.5 137.33C178.207 137.369 169.824 137.436 164.531 137.473L163.346 137.48L162.754 137.482C161.878 137.501 161.006 137.049 160.522 136.315C160.298 135.988 160.16 135.604 160.096 135.214C158.798 128.422 155.814 112.771 154.569 106.135L154.129 103.808L154.101 103.663L154.088 103.591C153.912 102.673 153.218 101.874 152.322 101.593C151.932 101.443 151.485 101.459 151.074 101.459C125.586 101.521 100.097 101.141 74.6083 100.994H74.6106Z" fill="#222222"/>
						<path d="M164.513 154.667L155.026 99.8428" stroke="#222222" stroke-width="2.60158" stroke-miterlimit="10"/>
						<path d="M109.681 122.266L112.629 134.913C112.837 135.802 113.936 136.122 114.589 135.484L123.089 127.168C123.7 126.569 123.483 125.542 122.683 125.238L111.235 120.908C110.358 120.576 109.466 121.354 109.678 122.266H109.681Z" fill="#EAEDFF"/>
						<path d="M110.529 122.07C111.343 126.32 112.341 130.559 113.468 134.729C113.521 134.901 113.773 134.98 113.904 134.846L114.766 133.944C117.003 131.604 119.253 129.247 121.533 126.949C121.643 126.831 122.097 126.389 122.208 126.274H122.204C122.204 126.279 122.192 126.286 122.187 126.295C122.162 126.343 122.171 126.394 122.22 126.424C118.572 125.075 114.757 123.422 111.126 121.888C111.119 121.888 110.826 121.759 110.81 121.762C110.653 121.741 110.497 121.9 110.524 122.07H110.529ZM108.832 122.464C108.426 120.974 109.916 119.535 111.403 119.975C111.571 120.023 114.201 120.905 114.446 120.988C117.088 121.865 119.723 122.754 122.323 123.744C122.418 123.785 123.05 124.011 123.137 124.05C124.421 124.518 125.074 126.102 124.479 127.336C124.32 127.693 124.059 127.985 123.776 128.245C121.27 130.644 118.69 132.997 116.133 135.339C115.977 135.477 115.52 135.905 115.363 136.043C114.347 137.146 112.465 136.858 111.901 135.452C111.792 135.217 111.755 134.887 111.695 134.634L111.414 133.274C110.686 129.638 109.805 126.042 108.83 122.466L108.832 122.464Z" fill="#222222"/>
						</g>
						<defs>
						<clipPath id="clip0_463_504">
						<rect width="303" height="172" fill="white"/>
						</clipPath>
						</defs>
						</svg>
						
								
				</div>
			 </div>
			{
				isFallback && (
					<div lang={bcpLang} dir={direction}>
						<FallbackNotice />
					</div>
				)
			}
			<slot />
		</section>
		
	</article>
	  </footer>

</div>

<style>
	.fixed-mobile-bar {
		display: block;
		position: sticky;
		inset-inline: 0;
		top: calc(var(--theme-navbar-height) - 4px);
		z-index: 2;
		margin-bottom: 3rem;
	}

	.spacer {
		height: var(--theme-mobile-toc-height);
	}

	.content{
			margin-top: var(--theme-navbar-height);
		}

	@media (min-width: 50em) {
		.fixed-mobile-bar {
			margin-top: 0;
			/*inset-inline-start: var(--theme-left-sidebar-width);*/
		}
	}

	@media (min-width: 64em) {
		.fixed-mobile-bar{
			inset-inline-start: 17.4rem;
		}
		
		.spacer {
			height: 0;
		}
	}

	@media (min-width: 80em){
		.fixed-mobile-bar {
			display: none;
		}

		.content{
			margin-top: calc(var(--theme-navbar-height) + 3.5rem);
		}
	}


	.content-title :global(.scope) {
		font-weight: 300;
		color: var(--theme-text-lighter);
	}
	.content {
		padding-top: var(--doc-padding-block);
		padding-bottom: var(--doc-padding-block);
		padding-inline: var(--min-spacing-inline);
		/*width: 100%;*/
		height: 100%;
		min-width: calc(100% - 20rem);
		max-width: 1024px;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		background-color: var(--content-bg);
		border-radius: var(--theme-border-radius);
		border: thin solid rgba(123,123,123,.2);
	}
	.content > section {
		margin-bottom: 4rem;
	}
	.next-previous-nav {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		gap: 1rem;
		margin-bottom: 1.5rem;

	}

</style>
