:root {
	--docsearch-hit-active-color: var(--theme-text);
	--docsearch-primary-color: var(--theme-text-accent);
	--docsearch-logo-color: var(--theme-text);
	--docsearch-highlight-color: var(--docsearch-primary-color);
}

.DocSearch-Modal .DocSearch-Hit a {
	box-shadow: none;
	border: none;
	font-weight: 400;
}

.DocSearch-Logo{
	display: none;
}

.DocSearch-Hit a{
	background-color: var(--theme-gray-opacity);
}

.DocSearch-Hit[aria-selected=true] a{
	background-color: var(--theme-accent-opacity);
}

.DocSearch-Hit[aria-selected=true] .DocSearch-Hit-title, .DocSearch-Hit[aria-selected=true] .DocSearch-Hit-icon, .DocSearch-Hit[aria-selected=true] .DocSearch-Hit-action{
	color: var(--theme-contrast) !important;
}

.DocSearch-Hit-title{
	font-weight: normal;
}

.DocSearch-Hits mark, li.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-title mark, .DocSearch-Hit[aria-selected=true] mark{
	color: var(--docsearch-highlight-color) !important;
}



.DocSearch-Hit-Container{
	height: 32px;
}

/* This query matches the upstream media query for mobile devices */
@media (max-width: 750px) {
	/* Increase spacing to match our site layout */
	:root {
		--docsearch-spacing: 15px;
	}

	/* Fix search not being displayed correctly after scrolling down */
	.DocSearch-Container {
		position: fixed;
	}
}
