---
import '@docsearch/css/dist/style.css';
import { DocSearchTranslation } from '../../i18n/translation-checkers';
import DocSearch from './DocSearch';
import './HeaderButton.css';
import './DocSearch.css';

export interface Props {
	lang?: string;
	labels: DocSearchTranslation;
}

const { lang, labels } = Astro.props as Props;
const { button, shortcutLabel, modal, placeholder } = labels;
---

<button
	class="search-input header-button w-full drop-shadow-sm"
	type="button"
	aria-label={button}
	id="docsearch-search-button"
>
	<svg
		width="1em"
		height="1em"
		viewBox="0 0 24 24"
		fill="none"
		focusable="false"
		aria-hidden="true"
		role="img"
	>
		<path
			d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			transform="translate(-1)"></path>
	</svg>
	<span class="search-placeholder">
		{button}
		<span class="sr-only">({shortcutLabel})</span>
	</span>
	<span class="search-keyboard-hint border-0" title="Keyboard Shortcut" data-tooltip-placement="bottom">
		<kbd aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" width="21" height="9" fill="currentColor" class="box-content rounded-[3px] inline-flex text-black/35 dark:text-white/40">
			<g><path d="M3.437 3.545v1.717l-.756.006C1.697 5.268.9 6.04.9 7.03a1.78 1.78 0 1 0 3.562 0v-.75h1.7v.75c0 .979.802 1.782 1.78 1.782A1.78 1.78 0 0 0 9.725 7.03c0-.99-.797-1.763-1.781-1.763l-.762-.006V3.545h.762c.984-.006 1.781-.774 1.781-1.764a1.78 1.78 0 1 0-3.562 0v.75h-1.7v-.75C4.462.803 3.66 0 2.682 0A1.78 1.78 0 0 0 .9 1.781c0 .99.797 1.758 1.781 1.764h.756Zm-.732-1.002a.763.763 0 0 1-.774-.762c0-.416.34-.75.75-.75s.756.34.756.774v.738h-.732Zm5.214 0h-.732v-.738c0-.434.346-.774.756-.774.41 0 .75.334.75.75a.767.767 0 0 1-.774.762Zm-3.457 2.73V3.54h1.7v1.734h-1.7Zm-1.757.997h.732v.732a.77.77 0 0 1-.756.78c-.41 0-.75-.34-.75-.757 0-.416.34-.755.774-.755Zm5.214 0c.428 0 .774.34.774.755 0 .416-.34.756-.75.756a.77.77 0 0 1-.756-.779V6.27h.732ZM14.52 8.63V5.716l.924-.948L18.06 8.63h2.04l-3.54-5.04L19.8.23h-2.148L14.52 3.555V.23h-1.632v8.4h1.632Z"></path></g></svg></kbd>
	</span>
</button>
<DocSearch {...{ lang, labels: { modal, placeholder } }} client:only="preact" />

<style>
	/** Style search header button */
	.search-input {
		position: relative;
		display: flex;
		place-items: center;
		gap: 0.25em;
		min-width: 8rem;
		background-color: var(--content-bg);
		border-radius: var(--theme-border-radius);
		padding-inline: 1rem;
	}

	.search-placeholder {
		text-align: initial;
		margin-inline-start: 0.25rem;
		margin-inline-end: 3rem;
		display: flex;
		color: var(--theme-readable-grey);
	}

	.search-keyboard-hint {
		position: absolute;
		inset-inline-end: 0.75rem;
		padding: 3px 5px;
		display: none;
		align-items: center;
		justify-content: center;
		font-size: 13px;
		font-family: var(--font-mono);
		letter-spacing: 0.125rem;
		line-height: 14px;
		pointer-events: none;
		border-radius: var(--theme-border-radius);
	}

	.search-keyboard-hint svg{
		fill: rgba(119, 119, 119, 0.8);
	}

	@media (min-width: 64em) {
		.search-keyboard-hint {
			display: flex;
		}
		.search-input{
			width: calc(100% - 3%);
		}
		
	}
</style>
