#menu-toggle {
	--border-color-default: transparent;
	margin-inline-end: -0.25rem;
	transition-property: border-color, background-color, color;
}

.mobile-sidebar-toggle #menu-toggle {
	--background-color-default: var(--theme-body-bg);
	--text-color-default: var(--text-color-hocus);
	--border-color-default:  var(--theme-body-bg);
}

#menu-toggle.header-button{
padding: .35rem .5rem;
margin-left: 1rem;
}

@media (min-width: 64em) {
	#menu-toggle {
		display: none;
	}
}
