---
import UIString from '../UIString.astro';
---

<a href="#article" class="sr-only focus:not-sr-only skiplink flex items-center justify-center p-3 fixed top-0">
	<span><UIString key="a11y.skipLink" /></span>
</a>

<style>
	.skiplink,
	.skiplink:focus,
	.skiplink:focus-visible {
		z-index: 9;
		background-color: var(--content-bg);
		color: var(--theme-accent-full);
		outline-offset: 0;
	}
</style>
