---

import { h } from 'hastscript';
import ORCard from '~/components/Card/ORCard.astro'
import IconText from './Card/IconText.astro';


const title=""
const id = title.split(" ").join("_").toLowerCase().replace('SDK', '').replace(' (Beta)', '')
---

<div class="heading-wrapper level-h2" tabindex="-1">
    <!--<h2 id={id}>Available SDKs (Web and Mobile)</h2>-->
    <div>Our SDKs gives you what's needed to record sessions, send custom events, sanitize sensitive data and much more.</div>
    <a class="anchor-link" href={"/en/using-or/#" + id }>
        <span class="anchor-icon" aria-hidden="true"><svg width="16" height="16" version="1.1" viewBox="0 0 16 16" xlmns="http://www.w3.org/2000/svg"><path fillrule="evenodd" fill="currentcolor" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></span><span class="sr-only" is:raw="true">
         Section titled {title}
        </span>
    </a>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 card">
    <IconText title="JS Snippet SDK" url="/sdk" width="100" />
    <IconText title="iOS SDK (Beta)" url="/ios-sdk" width="100" />
    <IconText title="Android SDK (Beta)" url="/android-sdk" width="100" />
    <IconText title="React Native SDK (Beta)" url="/rn-sdk" width="100" />
</div>