---
---
<div class="rounded-lg px-8 pb-8 relative flex flex-col h-full gap-6 pt-8">
	<div class="flex items-center gap-3 card-header">
		<span class=""></span>
		<h5 class="text-base">Card Title</h5>
	</div>
	<span class="text-sm flex-grow">Description goes here...</span>
	<a class="justify-end text-sm learn-more">Learn More</a>
</div>
