---
import UIString from '../UIString.astro';
---

<footer class="text-center p-5">
	<ul class="footer-links flex flex-col sm:flex-row justify-center text-center p-0 gap-x-6 list-none no-underline">
		<li>
			<a href="https://openreplay.com" class="no-underline">
				 OpenReplay
			</a>
		</li>
		<li> &#46;</li>
		<li>
			<a href="https://openreplay.com/privacy.html" class="no-underline">
				<UIString key="footer.privacyPolicy" />
			</a>
		</li>
		<li> &#46;</li>
		<li>
			<a href="https://openreplay.com/terms.html" class="no-underline">
				<UIString key="footer.terms" />
			</a>
		</li>
	</ul>
</footer>

<style>
	footer {
		color: var(--theme-text-lighter);
		font-size: var(--theme-text-xs);
	}

	.footer-links, .footer-links a {
		color: var(--theme-readable-grey);
	}

	.footer-links a:focus,
	.footer-links a:hover {
		color: var(--theme-text);
		text-decoration: underline;
	}
</style>
