.textareaContainer {
    position: relative;
    display: inline-block;
    border-radius: .75rem;
    padding: 2px;
    width: 100%;
    background-color: #fff;
  }
  
  .textareaContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: .75rem; 
    padding: 2px; 
    background: linear-gradient(-25deg, rgb(57, 78, 255), rgb(62, 170, 175), rgb(60, 207, 101));
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude; /* This property ensures that the background only appears as a border */
  }
  
  .textarea {
    width: 100%;
    height: 40px !important; /* Adjust height as needed */
    border: none;
    resize: none;
    padding: 10px;
    border-radius: .75rem; /* Apply border-radius to textarea */
    position: relative;
    z-index: 1;
    background: white; /* Ensure textarea background color covers the content */
    border-color: transparent;
    color: black !important;

  }
  .textarea:focus-visible, .textarea:focus, .textarea:active{
    border-color: transparent;
    outline: transparent;
  }
  